{% extends "base.html" %}

{% load i18n %}
{% load twitter_tag %}

{% block title %}{% trans "Contact us" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Contact us" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="alert alert-warning mb-md-3" role="alert">
{% blocktrans %}
    <p class="mb-0"><i class="bi bi-sign-stop flex-shrink-0 me-2"></i>Page is under Construction.</p>
{% endblocktrans %}
</div>

<div id="contact-us" class="bg-body-tertiary p-3">
    <div class="row">
        <div class="col-12">
            <div align="center">
                <h2>{% trans "We would love to hear from you" %}</h2>
                <p>{% trans "Our Los Angeles based Team are on hand to respond to your Emails everyday" %} 9<sup>am</sup> - 5<sup>pm</sup></p>
            </div>
        </div>

        <div class="col-12">
            <div class="row g-2">
                <div class="col-md-4">
                    <h4>{% trans "Twitter Feed" %}</h4>

                    {% get_tweets for "2remember" as tweets exclude "replies, retweets" limit 10 %}
                    {# get_tweets for "2remember" as tweets limit 10 #}

                    <ul class="bxslider">
                    {% for tweet in tweets  %}
                        <li>
                            <div class="twitt {% if forloop.first %}active {% endif %}item">
                                <p class="user-name"><i class="bi bi-twitter"></i> {{ tweet.user.name }}</p>
                                <p class="content">{{ tweet.html|safe }}</p>
                                <p class="posted-at">{{ tweet.datetime|date:"D d M Y" }}</p>
                            </div>
                            <div class="divider"></div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="col-md-4 contact-info">
                    <h4>{% trans "Contact Info" %}</h4>

                    <p><i class="bi bi-pin-map"></i>&nbsp;Los Angeles, CA 90028, USA</p>
                    <p><i class="bi bi-envelope"></i>&nbsp;<a href="mailto:support@2remember.live">support@2remember.live</a></p>
                    <p><i class="bi bi-telephone"></i>&nbsp;<a href="tel:(562) 606-6760">+1 (562) 606-6760</a></p>
                </div>

                <div class="col-md-4 contact-form">
                    <h4>{% trans "Send us a Message" %}</h4>

                    <form id="contact-us-form" action="" method="POST" role="form">
                        {% csrf_token %}

                        <div class="row g-2">
                            <div class="form-floating {% if form.name.errors %}has-error{% endif %}">
                                {{ form.name }}
                                <label for="id_name" class="form-label">{{ form.name.label }}{% if form.name.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                <span class="help-block">{% if form.name.errors %}{% for error in form.name.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>

                            <div class="form-floating {% if form.email.errors %}has-error{% endif %}">
                                {{ form.email }}
                                <label for="id_email" class="form-label">{{ form.email.label }}{% if form.email.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                <span class="help-block">{% if form.email.errors %}{% for error in form.email.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>

                            <div class="form-floating {% if form.subject.errors %}has-error{% endif %}">
                                {{ form.subject }}
                                <label for="id_subject" class="form-label">{{ form.subject.label }}{% if form.subject.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                <span class="help-block">{% if form.subject.errors %}{% for error in form.subject.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>

                            <div class="form-floating {% if form.message.errors %}has-error{% endif %}">
                                {{ form.message }}
                                <label for="id_message" class="form-label">{{ form.message.label }}{% if form.message.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                                <span class="help-block">{% if form.message.errors %}{% for error in form.message.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary w-100 py-2 mt-2" type="button" onclick="send_message();"><i class="bi bi-envelope-paper"></i> {% trans "Submit" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Send a Message                                                    ***/
    /*************************************************************************/
    function send_message() {
        var name = $("#contact-us-form").find("input[name='name']").val();
        var email = $("#contact-us-form").find("input[name='email']").val();
        var subject = $("#contact-us-form").find("input[name='subject']").val();
        var message = $("#contact-us-form").find("textarea[name='message']").val();

        $.post("{% url 'api-contact-us' %}", {
            "name":                 name,
            "email":                email,
            "subject":              subject,
            "message":              message,
            "csrfmiddlewaretoken":  $("#contact-us-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            new Noty({
                type:   "info",
                text:   data.message
            }).show();
        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to send the Message."
                }).show();
            };
        });

        return true;
    }

    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    })
</script>
{% endblock %}
