{% extends "base.html" %}

{% load i18n %}
{% load twitter_tag %}

{% block title %}{{ block.super }}{% endblock %}

{% block important_message %}
<div class="alert alert-warning alert-dismissible fade d-flex align-items-center show mb-md-0" role="alert" style="border-radius:0;">
    <i class="bi bi-exclamation-octagon flex-shrink-0 me-2"></i>
    <strong>Holy Guacamole!</strong>&nbsp;
    You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

<!-- START CAROUSEL -->
{% block carousel %}
    {% include "home/fragments/carousel.html" %}
{% endblock %}
<!--  END  CAROUSEL -->

{% block content %}
<!-- START MARKETING MESSAGES -->
<div id="index-features" class="mt-3">
    <div class="row g-2" align="center">
        <div class="col-12 header">
            <h2>{% trans "How it works" %}</h2>
        </div>

        <div class="col-lg-4 feature">
            <span><i class="flaticon-fluff1"></i></span>
            <p>{% trans "Tell us, where you need the Help or what Activity you offer" %}</p>
            <small>{% trans "After signing up to our Platform, you can start creating your Events. You will be asked to describe your Event (Description, Time &amp; Place, Category, etc.), which will help other Members to find your Event with ease." %}</small>
        </div>

        <div class="col-lg-4 feature">
            <span><i class="flaticon-user73"></i></span>
            <p>{% trans "All interested Members will apply for the Event" %}</p>
            <small>{% trans "Registered Members will apply for your Event. You can review their Profiles, Examples of current and/or past Experience, and other Members' Reviews. Your contact Details are hidden from the unregistered Users." %}</small>
        </div>

        <div class="col-lg-4 feature">
            <span><i class="flaticon-square56"></i></span>
            <p>{% trans "Make a Decision" %}</p>
            <small>{% trans "Our Platform allows you to engage with applied Members before accepting their Participation in your Event. Ask Questions, provide them with additional Information, and ensure, that they are as excited about your Event as you are." %}</small>
        </div>
    </div>
</div>
<!--  END  MARKETING MESSAGES -->

<hr class="featurette-divider">

<!-- START DEVELOPER HERO -->
<div id="index-developer-hero" class="mb-6">
    <div class="row flex-lg-row-reverse align-items-center py-5 rounded-3 border shadow-lg" style="background-color:#eef;">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ STATIC_URL }}img/python-programming-language.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://github.com/asuvorov" class="btn btn-github d-flex gap-2 align-items-center"><i class="bi bi-github"></i> GitHub</a>
                <a href="https://github.com/asuvorov" class="btn btn-linkedin d-flex gap-2 align-items-center"><i class="bi bi-linkedin"></i> LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<!--  END  DEVELOPER HERO -->

<hr class="featurette-divider">

<!-- START FEATURETTES -->
<div id="index-featurette" class="mb-6">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{{ STATIC_URL }}img/placeholder-image.jpg" height="500" width="500" alt=""/>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="{{ STATIC_URL }}img/placeholder-image.jpg" height="500" width="500" alt=""/>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="{{ STATIC_URL }}img/placeholder-image.jpg" height="500" width="500" alt=""/>
        </div>
    </div>
</div>
<!--  END  FEATURETTES -->

<hr class="featurette-divider">

<!-- START TWITTER FEED -->
<div id="index-latest-twitter" class="mb-6">
    <div class="row flex-lg-row-reverse align-items-center py-5 rounded-3 border shadow-lg text-center" style="background-color:#eef;">
        <div class="col-12">
            <img src="{{ STATIC_URL }}img/twitt.png" alt="Latest from Twitter - 2Remember Platform." />
            <h2>{% trans "Latest from Twitter" %}</h2>

                {% get_tweets for "2remember" as tweets exclude "replies, retweets" limit 10 %}
                {# get_tweets for "2remember" as tweets limit 10 #}

            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                {% for tweet in tweets  %}
                    <div class="{% if forloop.first %}active {% endif %}item">{{ tweet.html|safe }}</div>
                {% endfor %}
                </div>

                <!-- Indicators -->
                <ol class="carousel-indicators">
                {% for tweet in tweets %}
                    <li data-target="twitter-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
                </ol>

                <!-- Carousel Nav -->
            {% comment %}
                <a class="carousel-control left" href="#twitter-carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#twitter-carousel" data-slide="next">&rsaquo;</a>
            {% endcomment %}
            </div>

            {#<a class="btn btn-primary">Follow us</a>#}
            <a href="https://twitter.com/2remember" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true" data-align="center">{% trans "Follow" %} @2remember</a>
        </div>
    </div>
</div>
<!--  END  TWITTER FEED -->

<div id="body-navs" class="hero">
    <div id="index" class="container">
        <div class="row">
            <div class="col-xs-24 col-xs-offset-0 col-sm-22 col-sm-offset-1 col-md-20 col-md-offset-2 body-navs-header">
                <h1>
                {% blocktrans %}
                    Have Fun<br/>
                    Meet new People<br/>
                    Make the World a better Place
                {% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="body-navs-next" align="center">
                    <h4>{% trans "Online Platform for volunteering work" %}</h4>

                    <div class="body-navs-next-btn">
                        <a class="btn" data-scroll href="#welcome">{% trans "Find out more" %}</a>
                    </div>

                    <div class="body-navs-next-img">
                        <h4>{% trans "Find out more" %}</h4>

                        <a data-scroll href="#welcome">
                            <img src="{{ STATIC_URL }}img/move-down-button.png" class="move-up" style="display:block;" alt="Find out more - 2Remember Platform." />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-xs-offset-0 col-sm-20 col-sm-offset-2 col-md-16 col-md-offset-4" align="center">
                <h2>{% trans "Welcome" %}</h2>

                <p>{% trans "2Remember is an online Platform for volunteering Work" %}</p>
                <p>
                    {% trans "On 2Remember you can find and post Opportunities to volunteer your Time for a good Cause." %}<br/>
                    {% trans "Do you want to meet new People, have fun, and make the World a better Place?" %}<br/>
                    {% trans "Find your first Event on 2Remember." %}
                </p>

                <a class="btn" href="{% url 'signup' %}">{% trans "Right Now" %}</a>
            </div>
        </div>
    </div>
</div>

<!-- START SCRIPT -->
<script>
    //-------------------------------------------------------------------------
    //--- Twitter Follow Button
    //-------------------------------------------------------------------------
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "twitter-wjs");
</script>
<!--  END  SCRIPT -->
{% endblock %}
