{% extends "base.html" %}

{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<teams> - Teams List
{% endcomment %}

{% block title %}{% trans "Our Team" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Our Team" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id="our-team" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-12">
            <div class="alert alert-info">{% trans "Check out the Team behind the 2Remember" %}</div>

            <div class="row g-2">
            {% for team in teams %}
                <div class="col-12">
                    <h3>{{ team.name }}</h3>

                    <div class="row g-2">
                    {% for member in team.members.all %}
                        <div class="col-2">
                            {% include "accounts/fragments/team-member-thumbnail.html" with account=member %}
                        </div>
                    {% empty %}
                        <div class="col-12">
                            <span class="badge text-bg-warning">{% trans "There are no Team Members at the Moment" %}</span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <span class="badge text-bg-warning">{% trans "There are no Teams at the Moment" %}</span>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
