{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Privacy Policy" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Privacy Policy" %}</li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block content %}
<div id="privacy-policy" class="bg-body-tertiary p-3">
    <div class="row">
        <div class="col-12">
            {% include 'home/fragments/privacy-policy-fragment.html' %}
        </div>
    </div>
</div>
{% endblock %}
