#------------------------------------------------------------------------------
#--- !!!   IMPORTANT   !!!
#    This is a Collection of all Project Dependencies.
#    !!! DO NOT REMOVE !!!
#------------------------------------------------------------------------------
#--- Upgrade all
#    pip freeze --local | grep -v "^\-e" | cut -d = -f 1 | xargs -n1 pip install -U

#------------------------------------------------------------------------------
# --- "#"
Django==4.1.5

#------------------------------------------------------------------------------
# --- "A"

# -----------------------------------------------------------------------------
# --- "B"

# -----------------------------------------------------------------------------
# --- "C"

# -----------------------------------------------------------------------------
# --- "D"
djangorestframework==-3.14.0
djangorestframework-jsonp==1.0.2

# -----------------------------------------------------------------------------
# --- "django-*"

#------------------------------------------------------------------------------
# --- "E"

#------------------------------------------------------------------------------
# --- "F"

#------------------------------------------------------------------------------
# --- "G"

#------------------------------------------------------------------------------
# --- "H"

#------------------------------------------------------------------------------
# --- "I"

#------------------------------------------------------------------------------
# --- "J"

#------------------------------------------------------------------------------
# --- "K"

#------------------------------------------------------------------------------
# --- "L"

#------------------------------------------------------------------------------
# --- "M"

#------------------------------------------------------------------------------
# --- "N"

#------------------------------------------------------------------------------
# --- "O"

#------------------------------------------------------------------------------
# --- "P"

# -----------------------------------------------------------------------------
# --- "python-*"

#------------------------------------------------------------------------------
# --- "Q"

#------------------------------------------------------------------------------
# --- "R"

# -----------------------------------------------------------------------------
# --- "S"

#------------------------------------------------------------------------------
# --- "T"

#------------------------------------------------------------------------------
# --- "U"

#------------------------------------------------------------------------------
# --- "V"

#------------------------------------------------------------------------------
# --- "W"

#------------------------------------------------------------------------------
# --- "X"

#------------------------------------------------------------------------------
# --- "Y"

#------------------------------------------------------------------------------
# --- "Z"
