<!-- START PRIVACY POLICY CODE -->
{% load i18n %}

<div class="alert alert-info alert-dismissible" role="alert">
    Date last revised: <i>July 1st, 2024</i>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="privacy-policy-fragment">
    <p><strong>What Information do we collect?</strong></p>
    <p>We collect Information from you, when you register on our Site, subscribe to our Newsletter, or fill out Forms.</p>
    <p>When registering on our Site, as appropriate, you may be asked to enter your: Name, Email Address, mailing Address, Phone Number, or Credit Card Information. You may, however, visit our Site anonymously.</p>

    <p><strong>What do we use your Information for?</strong></p>
    <p>Any of the Information we collect from you may be used in one of the following Ways:</p>
    <ul>
        <li>
            To personalize your Experience<br/>
            <blockquote>
                Your Information helps us to better respond to your individual Needs.
            </blockquote>
        </li>
        <li>
            To improve our Website<br/>
            <blockquote>
                We continually strive to improve our Website Offerings, based on the Information and Feedback we receive from you.
            </blockquote>
        </li>
        <li>
            To improve Customer Service<br/>
            <blockquote>
                Your Information helps us to more effectively respond to your Customer Service Requests and support Needs.
            </blockquote>
        </li>
        <li>
            To process Transactions<br/>
            <blockquote>
                Your Information, whether public or private, will not be sold, exchanged, transferred, or given to any other Company for any Reason.
            </blockquote>
        </li>
        <li>
            To send periodic Emails<br/>
            <blockquote>
                The Email Address you provide, will only be used to send you Information, Notifications and Updates.
            </blockquote>
        </li>
    </ul>

    <p><strong>How do we protect your Information?</strong></p>
    <p>We implement a variety of Security Measures to maintain the Safety of your personal Information, when you enter, submit, or access your personal Information.</p>
    <p>We offer the Use of a secure Server. All supplied sensitive/credit Information is transmitted via Secure Socket Layer (SSL) Technology, and then encrypted into our Payment Gateway Providers Database only to be accessible by those, who authorized with special Access Rights to such Systems, and are required to keep the Information confidential.</p>
    <p>After a Transaction, your private Information (Credit Cards, Social Security Numbers, Financials, etc.) will not be stored on our Servers.</p>

    <p><strong>Do we use Cookies?</strong></p>
    <p>Yes. Cookies are small Files, that a Site or its Service Provider transfers to your Computer's Hard Drive through your Web Browser (if you allow), that enables the Sites or Service Providers Systems to recognize your Browser and capture and remember certain Information.</p>
    <p>We use Cookies to understand and save your Preferences for future Visits.</p>

    <p><strong>Do we disclose any Information to outside Parties?</strong></p>
    <p>We do not sell, trade, or otherwise transfer to outside Parties your personally identifiable Information. This does not include trusted third Parties, who assist us in operating our Website, conducting our Business, or servicing you, so long as those Parties agree to keep this Information confidential. We may also release your Information, when we believe release is appropriate to comply with the Law, enforce our Site Policies, or protect ours or others Rights, Property, or Safety. However, non-personally identifiable Visitor Information may be provided to other Parties for marketing, advertising, or other Uses.</p>

    <p><strong>Children's Online Privacy Protection Act Compliance</strong></p>
    <p>We are in Compliance with the Requirements of COPPA (Children's Online Privacy Protection Act). We do not collect any Information from anyone, under 13 Years of Age. Our Website, Products and Services are all directed to People, who are at least 13 Years old or older.</p>

    <p><strong>Online Privacy Policy Only</strong></p>
    <p>This Online Privacy Policy applies only to Information, collected through our Website, and not to Information, collected Offline.</p>

    <p><strong>Your Consent</strong></p>
    <p>By using our Site, you consent to our Privacy Policy.</p>

    <p><strong>Changes to our Privacy Policy</strong></p>
    <p>If we decide to change our Privacy Policy, we will post those Changes on this Page, and/or send an Email, notifying you of any Changes.</p>

    <p><strong>Contacting Us</strong></p>
    <p>If there are any Questions, regarding this Privacy Policy, you may contact us, using the Information below.</p>

    <a href="https://2remember.live">2Remember</a><br/>
    <a href="mailto:support@2remember.live">support@2remember.live</a><br/><br/>
</div>
<!--  END  PRIVACY POLICY CODE -->
