{% load cache %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% cache 3600 resume-gragment LANGUAGE_CODE %}
<section class="px-3 py-3">
    <h3 class="text-center">ARTEM SUVOROV</h3>
    <p class="lead text-center"><em>Sr/Mid Software Engineer, Product Engineering</em></p>

    <p>Experienced <b>Full-Stack Software Engineer</b> (over 12 Years of Experience), serving Entertainment, eCommerce, Real Estate, Computer Vision / Facial Recognition, and Nuclear Engineering Industries. Seeking Opportunities to continue to learn and innovate in Areas of Strength, and support Team Goals and Objectives.</p>
    <p>Originally from Ukraine, Artem and his Family support local Refugees to the Washington DC Area to help them acclimate to the United States.</p>

    <hr>

    <h4 class="text-center">WHAT MAKES ARTEM DIFFERENT</h4>
    Artem is a happy Father of two Girls, and he loves to spend quality Time with them by going Places, learning new Things, playing musical Instruments, doing Craft, and teaching them to be the good Persons.

    <hr>

    <h4 class="text-center">Skills and Specialties:</strong></h4>
    <ul>
        <li>Amazon Web Services (CloudFormation, CloudFront, CloudWatch (Metrics, Logs, Events), CodeBuild / CodeDeploy / CodePipeline, ElastiCache, ElasticSearch, EC2, ECS / ECR, SQS, S3, RDS, Lambda);</li>
        <li>Integrating Services with Stripe, and other billing Systems (e.g. BrainTree, Recurly, Spreedly);</li>
        <li>Websocket Client/Server, RESTful API, gRPC;</li>
        <li>Python, GoLang, JavaScript, C#, PHP;</li>
        <li>Full Stack Application Development;</li>
        <li>SQL – MySQL, PostgreSQL;</li>
        <li>NoSQL – MongoDB;</li>
        <li>State Machines;</li>
        <li>Microservices;</li>
        <li>React/Redux.</li>
        <li>Docker.</li>
    </ul>
</section>

<hr>

<section>
    <h4 class="text-center">EDUCATION</h4>
    <p>Master’s Degree in Nuclear Power Engineering, National Technical University of Ukraine, March 2007.</p>
</section>

<hr>

<section>
    <h4 class="text-center">WORK EXPERIENCE</h4>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/west-monroe.png" height="30" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>West Monroe Partners, LLC</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    DC-Maryland-Virginia Metro Area<br/>
                    (Jan 2022 — Apr 2024)
                </small>
            </div>
        </div>

        <p><b><i>Joined through the Acquisition from Verys, LLC.</i></b></p>

        <p class="lead">Senior Software Engineer</p>

        <div class="g-2 pb-2">
            <p><i>
                (Jan 2024 – Apr 2024) Working on the internal Project
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Building and maintaining Backend Service in C#;</li>
                    </ul>
                </li>
                <li>Stack: Azure; C#, RESTful; MSSQL; GitHub; Confluence, Jira;</li>
            </ul>
        </div>

        <div class="g-2 pb-2">
            <p><i>
                (Mar 2023 — Dec 2023) As a Consultant to <b>Epicor Software, LLC</b> <img src="{{ STATIC_URL }}img/brand-logos/epicor.png" height="15" alt="" /> I designed and developed a Backend Service, that worked as a Middleman between a Mobile Client and a Point-of-Sale (Ingenico Pinpad, Zebra Android, etc) Device.<br/>
                The Communication happened via Websockets (WS) Protocol, and the Service has implemented both WS Server and WS Client Behavior in One.
                The current State of the Transactions and/or Devices was maintained, using State Machine.
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Building and maintaining Backend Service in Python;</li>
                        <li>Extensive Use of Websockets (Client / Server), RESTful;</li>
                    </ul>
                </li>
                <li>Stack: AWS; Python/Django; Websockets, RESTful; State Machines; PostgreSQL, Redis; Docker, GitLab, Jira;</li>
            </ul>
        </div>

        <div class="g-2 pb-2">
            <p><i>
                (Jan 2022 — Dec 2022) As a Consultant to <b>ZeniMax Media, Inc.</b> <img src="{{ STATIC_URL }}img/brand-logos/zenimax-media.png" height="15" alt="" /> I designed, developed and maintained various Content Management and Delivery Services, used by the Game Clients like “Doom”, “Quake”, “Wolfenstein”, “Starfield”, etc., including User-generated Content (Mods) Service, used by the World-famous Franchises “Fallout” and “Skyrim” (“The Elder Scrolls”).
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Building and maintaining Backend Services in GoLang;</li>
                        <li>Documenting and sharing the Knowledge with Engineers and Leads during the "Lunch and Learn" Sessions;</li>
                        <li>On-boarding and mentoring new Team Members;</li>
                        <li>Extensive Use of AWS, RESTful, gRPC;</li>
                    </ul>
                </li>
                <li>Stack: AWS; GoLang; RESTful, gRPC; MySQL, PostgreSQL, Redis, Memcached; Nginx, Docker, NewRelic, GitHub, Confluence, Jira, Contentful;</li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/verys.png" height="30" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>Verys, LLC</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    Orange County, CA<br/>
                    (Jul 2018 — Dec 2021)
                </small>
            </div>
        </div>

        <p class="lead">Senior Software Engineer</p>

        <div class="g-2 pb-2">
            <p><i>
                As a Consultant to <b>ZeniMax Media, Inc.</b> <img src="{{ STATIC_URL }}img/brand-logos/zenimax-media.png" height="15" alt="" /> I designed, developed and maintained various Content Management and Delivery Services, used by the Game Clients like “Doom”, “Quake”, “Wolfenstein”, “Starfield”, etc., including User-generated Content (Mods) Service, used by the World-famous Franchises “Fallout” and “Skyrim” (“The Elder Scrolls”).
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Building and maintaining Backend Services in Python, GoLang;</li>
                        <li>Migrating Python 2.7 Backend Services to Python 3.7;</li>
                        <li>Migrating Python Backend Services to GoLang;</li>
                        <li>Documenting and sharing the Knowledge with Engineers and Leads during the "Lunch and Learn" Sessions;</li>
                        <li>On-boarding and mentoring new Team Members;</li>
                        <li>Extensive Use of AWS, RESTful, gRPC;    </li>
                    </ul>
                </li>
                <li>Stack: AWS; Python, GoLang; RESTful, gRPC; MySQL, PostgreSQL, Redis, Memcached; RabbitMQ, Nginx, Docker, NewRelic, GitHub, Confluence, Jira, Contentful;</li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/gravity-brands.jpg" height="100" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>Gravity Brands, LLC</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    Greater Los Angeles Area, CA<br/>
                    (Mar 2016 – May 2018)
                </small>
            </div>
        </div>

        <p class="lead">Fullstack Software Developer</p>

        <div class="g-2 pb-2">
            <p><i>
                The Mission of <b>GravityBrands</b> is to create and launch well-loved Brands, and connect the with a vast Audience.<br/>
                The proprietary Flagship Brand, <b>Fragrant Jewels</b>, has over 100 Employees creating engaging Content and leveraging Real-Time Analytics to deliver an awesome User Experience for the Customers.
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Designed/developed:<br/>
                            (I) eCommerce Platform, using Shopify (as a CMS), and the Payment Processors (e.g. Stripe);<br/>
                            (II) Loyalty Engine for the Rewards Program (including Points, Bonuses and Subscriptions);<br/>
                            (III) RESTful API for the React/Redux based Front-end;
                        </li>
                        <li>Created Gateways to the Shopify, Stripe, BrainTree, Spreedly, and Recurly API;</li>
                        <li>Migrated Data (saved CC Payment Methods) among the Payment Processors;</li>
                        <li>Customized Django Admin for the Needs of the Product Development Team;</li>
                    </ul>
                </li>
                <li>Stack: Heroku; Python/Django; jQuery, JavaScript, Riot JS, React/Redux; RESTful API.</li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/resolution-economics.png" height="60" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>Resolution Economics Group, LLC</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    Greater Los Angeles Area, CA<br/>
                    (Jan 2015 – Mar 2016)
                </small>
            </div>
        </div>

        <p class="lead">Software Developer</p>

        <div class="g-2 pb-2">
            <p><i>
                The Company provides sophisticated economic, statistical, and financial Analyses, Business Operations Advice, and specialized Software Solutions to leading Law Firms, Fortune 500 Companies, and Government Agencies.
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Developed the Web Application “ResolutionView”, where the Client could:<br/>
                            (I) Create Employees’ Profiles and enroll them to the Facial Recognition Engine (“Kairos”) Database;<br/>
                            (II) Add Facilities; review the Analytics; and<br/>
                            (III) Check the Time-keeping System Clock-Ins/Outs against the Snapshots, taken from the local IP and/or Web Cameras.
                        </li>
                        <li>Developed the Desktop Application, designed to:<br/>
                            (I) Take the Snapshots from the IP and/or Web Cameras Video Stream; <br/>
                            (II) Perform preliminary Face Detection; and <br/>
                            (III) Send the appropriate Snapshots to the Kairos API for further Facial Recognition.<br/>
                            Supported Platforms are Windows, Linux, Mac OS X.
                        </li>
                        <li>Developed the API Gateway to the Facial Recognition Engine (“Kairos”), and to “ResolutionView” interim API Server, used by the Desktop Application.</li>
                        <li>Reviewed Developers Team’s Source Code.</li>
                        <li>Held the technical Meetings with Partners from “Kairos”.</li>
                    </ul>
                </li>
                <li>Stack: AWS; Django/Python/Cython; PyQt, OpenCV.</li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/fuisz-media.png" height="60" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>Fuisz Media, LLC</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    Greater Los Angeles Area, CA<br/>
                    (Aug 2014- Jan 2015)
                </small>
            </div>
        </div>

        <p class="lead">Software Engineer</p>

        <div class="g-2 pb-2">
            <p><i>
                <b>Fuisz</b> patented a Technology for creating intuitive, interactive Experiences for any Video, new or existing.
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Developed/maintained Web Applications;</li>
                        <li>Worked on interactive Layer, and internal Tools, like SmartSheet + GitHub Integration, Slack + GitHub Integration, etc;</li>
                        <li>Developed automated Process for creating MRAID compliant HTML5 Tags and Google Engagement Ads (GEA Lightbox);</li>
                        <li>Developed Command Line Tool for transferring Projects’ Data between Environments (AWS S3 Buckets and Databases) and invalidating AWS CloudFront Objects;</li>
                        <li>Created native Android App for MRAID Tags testing.</li>
                    </ul>
                </li>
                <li>Stack: AWS; JavaScript (Node.js); MongoDB.</li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/wikirealty.png" height="40" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>WikiRealty, LLC</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    Greater Los Angeles Area, CA<br/>
                    (Dec 2013 – Fed 2014)
                </small>
            </div>
        </div>

        <p class="lead">Developer</p>

        <div class="g-2 pb-2">
            <p><i>
                Next-generation digital platform for Real Estate. Building the first master-planned community that fully integrates smart contracts and NFTs.
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Totally reworked Website Design;</li>
                        <li>Developed/maintained Web Applications.</li>
                    </ul>
                </li>
                <li>Django/Python; Twitter Bootstrap, jQuery, Less CSS.</li>
            </ul>
        </div>
    </div>

    <div class="mb-5">
        <div class="row g-2 pb-2">
            <div class="col-6 col-md-4">
                <img src="{{ STATIC_URL }}img/brand-logos/dream-world-partners.jpg" height="100" alt="" />
            </div>
            <div class="col-6 col-md-5">
                <h5>Dream World Partners Inc.</h5>
            </div>
            <div class="col-12 col-md-3">
                <small class="text-muted">
                    Greater Los Angeles Area, CA<br/>
                    (Jul 2013 – Dec 2013)
                </small>
            </div>
        </div>

        <p class="lead">Developer</p>

        <div class="g-2 pb-2">
            <p><i>
                Dream World Partners is a Multimedia, Digital Services Company. Specializes in a variety of Services, including Web Development, Digital Marketing, SEO, Social Media Marketing, and Customer.
            </i></p>
            <ul>
                <li>Responsibilities:
                    <ul>
                        <li>Developed/maintained Web Applications and Front-end Design;</li>
                        <li>Created Admin Dashboard with Charts on the Website Usage, average Length and Number of Users in the Video/Text Chat;</li>
                        <li>Fixed Issues with Text/Video Chat, Payment System, mailing;</li>
                    </ul>
                </li>
                <li>Django/Python; RESTful; HTML, CSS, jQuery, JavaScript, node.js; Apache, PostgreSQL.</li>
            </ul>
        </div>
    </div>
</section>

<hr>

<section>
    <h4 class="text-center">CERTIFICATIONS & LICENSING</h4>
    <ol>
        <li>«Hashing, Dictionaries, and Sets in Python», by CodeSignal (July 09, 2024);</li>
    </ol>
</section>

<hr>

<section>
    <h4 class="text-center">COURSES</h4>
    <ol>
        <li>«The Complete Python Bootcamp From Zero to Hero in Python» by Udemy;</li>
    </ol>
</section>

<hr>

<section>
    <h4 class="text-center">WEBINARS</h4>
    <ol>
        <li>«Leverage Your LinkedIn Profile for Job Search» by CareerMinds;</li>
        <li>«Salary Negotiations» by CareerMinds;</li>
        <li>«Strategic Interviewing Part II» by CareerMinds;</li>
        <li>«Job Searching Proactively | Roadmap to Success» by CareerMinds;</li>
        <li>«Networking For People Who Hate Networking» by CareerMinds;</li>
        <li>«Strategic Interviewing Part I» by CareerMinds;</li>
        <li>«Optimize Your LinkedIn Profile» by CareerMinds;</li>
    </ol>
</section>

{% endcache %}
