// ----------------------------------------------------------------------------
// --- Post List
// ----------------------------------------------------------------------------
#post-list {
    // --- Mixin
    #instance.page-list();
}

// ----------------------------------------------------------------------------
// --- Post create
//     Post edit
// ----------------------------------------------------------------------------
#post-create,
#post-edit {
    // --- Mixin
    #instance.page-create-edit();
}

// ----------------------------------------------------------------------------
// --- Post Details
// ----------------------------------------------------------------------------
#post-details {
    // --- Mixin
    #instance.page-details();

    .img-preview img {
        object-fit:       cover;
        object-position:  center;
        width:            100%;
        height:           50vh;
        overflow:         hidden;
    }
}

// ----------------------------------------------------------------------------
// --- Post Thumbnail
// ----------------------------------------------------------------------------
.post-thumbnail-hor {
    background-color:       #eef !important;
    border-top:             3px solid @brand-primary;
    margin:                 0px !important;

    p.card-text {
        font-size:          0.85rem;
        line-height:        1.25;
        margin-top:         0;
        margin-bottom:      0.5rem;
    }

    div#preview img {
        object-fit:         cover;
        object-position:    center;
        width:              100vw;
        height:             50vh;
        overflow:           hidden;
    }
    .card-header {
        border-bottom:      3px solid @brand-primary;
        padding:            .5rem;

        h5 {
            font-weight:    bold;
            text-transform: uppercase;
            padding:        5px;
            margin:         0px;
        }
    }
    .card-body {
        padding:            .5rem;

        i {
            margin-right:   10px;
        }
    }
    .card-footer {
        padding:            .5rem;

        i {
            margin-right:   10px;
        }
        .learn-more a {
            width:          auto !important;
            float:          right;
        }
    }
}
.post-thumbnail-search {
    background-color:       @white;
    box-shadow:             1px 1px 3px rgba(0, 0, 0, 0.1);
    padding:                10px;
    margin-bottom:          10px;

    .learn-more {
        a {
            width:          auto !important;
            float:          right;
            margin:         0 10px 10px 10px !important;
        }
    }
}

// ----------------------------------------------------------------------------
// --- Make Design more responsive
// ----------------------------------------------------------------------------
@media (max-width: 479px) {
    /* <= 479px */
    #post-details {
        margin-top:         0;
        margin-bottom:      50px;
    }
    #pst-tag-cloud,
    #pst-calendar {
        display:            none;
    }

    .post-thumb-hor,
    .post-thumb-search {
        .post-header {
            h4 {
                font-size:  @font-size-base;
            }
        }
        .learn-more {
            display:            flex;
            align-items:        center;
            justify-content:    center;

            a {
                width:          90% !important;
                float:          none;
            }
        }
    }
    .actions {
        margin-top:         10px;
    }
}
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    /* <= 480px <= 767px */
    #post-details {
        margin-top:         0;
        margin-bottom:      50px;
    }
    #pst-tag-cloud,
    #pst-calendar {
        display:            none;
    }

    .actions {
        margin-top:         10px;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    /* <= 768px <= 991px */
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    /* <= 992px <= 1199px */
}
@media (min-width: @screen-lg-min) and (max-width: 1599px) {
    /* <= 1200px <= 1599px */
}
@media (min-width: 1600px) {
    /* >= 1600px */
}
