// ----------------------------------------------------------------------------
// --- Add Attachment/Comment Button
// ----------------------------------------------------------------------------
a.add-attachment,
a.add-comment {
    font-size:              @font-size-base;
    margin-top:             -10px !important;
}

// ----------------------------------------------------------------------------
// --- Right Sidebar
// ----------------------------------------------------------------------------
div.right-sidebar {
    ul {
        //padding-left:       20px;
    }

    .tag-cloud {
        padding:            10px;
        margin:             10px 0;
    }
    .link-to-page {
        background-color:   @white;
        padding:            10px;
    }
}

// ----------------------------------------------------------------------------
// --- Pop-up Overlay
// ----------------------------------------------------------------------------
.popup-overlay-heading {
    border-bottom:          1px solid @gray-light;
    margin:                 0 0 20px 0;

    h4 {
        font-weight:        bold;
        text-transform:     uppercase;
        margin:             0;
        padding:            0 0 10px 0 !important;
    }
}
.popup-overlay-info {
    margin:                 20px 0 0 0;
}
.popup-overlay-footer {
    border-top:             1px solid @gray-light;
    margin:                 20px 0 0 0;
    padding:                10px 0 0 0;
    //float:                  right;
}

// ----------------------------------------------------------------------------
// --- Twitter Feed
// ----------------------------------------------------------------------------
.twitter-feed {
    h4 {
        margin:             40px 0 20px 0;
        text-transform:     uppercase;
    }

    .twitt {
        .pb-twitter-feed(
            @font-size:     @font-size-small
        );
    }
    .divider {
        background-color:   @gray-lightest;
        height:             1px;
        margin:             9px 0;
        overflow:           hidden;
    }
}

// ----------------------------------------------------------------------------
// --- Miscellaneous
// ----------------------------------------------------------------------------
.hidden {
    display:    none;
}
