{% load i18n %}
{% load imagekit %}

{% comment %}
    Input Parameters:
        :<account>
{% endcomment %}

<div class="col">
    <div class="card mb-3 shadow bg-body rounded">
    {% with account.user.profile as profile %}
        <a href="{% url 'profile-view' account.user_id %}">
        {% if profile.avatar %}
            {% generateimage "common:thumbnail_bigger" source=profile.avatar -- alt=profile.auth_name class='img-fluid rounded-top' %}
        {% else %}
            <img src="{{ STATIC_URL }}img/no-avatar.png" class="img-fluid rounded-top" height="400" width="400" alt="Team Member - 2Remember Platform." />
        {% endif %}
        </a>

        <div class="card-header bg-transparent">
            <h5>
            {% if profile.short_name %}
                {{ profile.short_name }}
            {% elif profile.nickname %}
                {{ profile.nickname }}
            {% else %}
                <i class="bi bi-user-secret"></i>
            {% endif %}
            </h5>
        </div>

        <div class="card-body">
            <p class="card-text">{{ account.position }}</p>
        </div>

        <!-- <div class="card-footer bg-transparent"></div> -->
    {% endwith %}
    </div>
</div>
