{% load i18n %}

<div class="modal fade" id="commentAddPopupModal" tabindex="-1" role="dialog" aria-labelledby="commentAddPopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentAddPopupModalLabel">{% trans "Add Comment" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="comment-add-modal-form" role="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="account_id" value="">
                    <input type="hidden" name="event_id" value="">
                    <input type="hidden" name="organization_id" value="">
                    <input type="hidden" name="place_id" value="">
                    <input type="hidden" name="post_id" value="">

                    <div class="form-floating col-12 {% if form.description.errors %}has-error{% endif %}">
                        <textarea id="id_comment_text" class="form-control" name="comment_text" maxlength="200" placeholder="Enter text here..."></textarea>
                        <label for="id_comment_text">{% trans "Please, enter a Comment" %}</label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" ata-bs-dismiss="modal" onclick="comment_add();">{% trans "Comment" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Add Comment                                                       ***/
    /*************************************************************************/
    function comment_add() {
        var comment_text = $("#comment-add-modal-form").find("textarea[name='comment_text']").val();
        var account_id = $("#comment-add-modal-form").find("input[name='account_id']").val();
        var event_id = $("#comment-add-modal-form").find("input[name='event_id']").val();
        var organization_id = $("#comment-add-modal-form").find("input[name='organization_id']").val();
        var place_id = $("#comment-add-modal-form").find("input[name='place_id']").val();
        var post_id = $("#comment-add-modal-form").find("input[name='post_id']").val();

        $.post("{% url 'api-comment-list' %}", {
            "account_id":           account_id,
            "event_id":             event_id,
            "organization_id":      organization_id,
            "place_id":             place_id,
            "post_id":              post_id,
            "comment_text":         comment_text,
            "csrfmiddlewaretoken":  $("#comment-add-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success ===> Data :", data);

            $("#commentAddPopupModal").modal("hide");

            $(element).parent().after(data.comment);

            new Noty({
                type:   "info",
                text:   data.message
            }).show();
        }).fail(function (data) {
            console.log("Fail    ===> Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to add the Comment."
                }).show();
            };
        });
        return true;
    }
</script>
