{% extends "base.html" %}

{% load i18n %}
{% load imagekit %}
{% load taggit_templatetags2_tags %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<form>           - Event Form
        :<aform>          - Address Form
        :<formset_roles>  - Roles Formset
        :<formset_social> - Social Links Formset
{% endcomment %}

{% block title %}{% trans "Our Blog" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Blog" %}</li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block content %}
<div id="post-list" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
        {% if request.user.is_staff %}
            <div class="controllers">
                <a class="btn btn-primary" href="{% url 'post-create' %}"><i class="bi bi-plus-circle"></i> {% trans "Post" %}</a>
            </div>
        {% endif %}

            <div class="row g-2">
                {% for post in posts %}
                <div class="col-12">
                    {% include "blog/fragments/post-thumbnail-hor.html" %}
                </div>
                {% empty %}
                {% endfor %}

                <div id="page-selection"></div>
            </div>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Tag Cloud -->
            <section id="tag-cloud">
                <h4>{% trans "Tag Cloud" %}</h4>
                {% get_taglist as taglist for "blog.post" %}
                {% get_tagcloud as tagcloud for "blog.post" %}

                <div class="tag-cloud">
                {% for tag in tagcloud %}
                    <a href="?tag={{ tag.id }}">
                        <font size="{{ tag.weight|floatformat:0 }}">
                            {{ tag.name }} ({{ tag.num_times }})
                        </font>
                    </a>
                {% endfor %}
                </div>
            </section>

            <!-- Archive -->
            <section id="post-calendar">
                <h4>{% trans "Archive" %}</h4>

                <div class="alert alert-warning mb-md-3" role="alert">
                {% blocktrans %}
                    <p class="mb-0"><i class="bi bi-sign-stop flex-shrink-0 me-2"></i>Section is under Construction.</p>
                {% endblocktrans %}
                </div>
            </section>

            <!-- Sponsored Links -->
            <section id="sponsored-links">
                <h4>{% trans "Sponsored Links" %}</h4>
                {% include "app/fragments/sponsored-links-side.html" %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
