{% extends "base.html" %}

{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<post>
{% endcomment %}

{% block extra_meta %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block extra_script %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block important_message %}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'post-list' %}">{% trans "Blog" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block extra_content %}
    {% include "app/fragments/instance-images-script.html" with instance=post %}
{% endblock %}
