{% load i18n %}
{% load imagekit %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<comment>
        :<is_admin>
{% endcomment %}

<div class="comment-thumbnail-hor card mb-1 shadow bg-body rounded">
    <div class="row g-0">
        <div class="col-12">
            <!-- <div class="card-header bg-transparent"></div> -->

            <div class="card-body bg-transparent d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <p class="card-text col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <small class="text-muted">{{ comment.text }}</small><br/>

                {% if comment.author.profile.avatar %}
                    {% generateimage "header:thumbnail" source=comment.author.profile.avatar -- alt=comment.author.profile.auth_name %}
                {% else %}
                    <img src="{{ STATIC_URL }}img/no-avatar.png" height="30" width="30" alt="" />
                {% endif %}
                    <a href="{% url 'profile-view' comment.author.uid %}"> {{ comment.author.get_full_name }}</a> {{ comment.created|timesince }} {% trans "ago" %}
                </p>

                <div class="text-end">
                    <a class="delete-comment" href="#" comment-id="{{ comment.id }}"><i class="bi bi-x-lg"></i></a>
                </div>
            </div>

            <!-- <div class="card-footer"></div> -->
        </div>
    </div>
</div>
