{% load i18n %}
{% load twitter_tag %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<twitter_acc>
{% endcomment %}

<div class="alert alert-warning mb-md-3" role="alert">
{% blocktrans %}
    <p class="mb-0"><i class="bi bi-sign-stop flex-shrink-0 me-2"></i>Section is under Construction.</p>
{% endblocktrans %}
</div>

{% get_tweets for twitter_acc as tweets exclude "replies, retweets" limit 10 %}
{# get_tweets for twitter_acc as tweets limit 10 #}

<div class="twitter-feed">
    <ul class="bxslider">
    {% for tweet in tweets  %}
        <li>
            <div class="twitt {% if forloop.first %}active {% endif %}item">
                <p class="user-name"><i class="bi bi-twitter"></i> {{ tweet.user.name }}</p>
                <p class="content">{{ tweet.html|safe }}</p>
                <p class="posted-at">{{ tweet.datetime|date:"D d M Y" }}</p>
            </div>
            <div class="divider"></div>
        </li>
    {% endfor %}
    </ul>
</div>
