{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<instance>
{% endcomment %}

<div class="alert alert-warning mb-md-3" role="alert">
    <p class="mb-0"><i class="bi bi-sign-stop flex-shrink-0 me-2"></i>{% trans "Section is under Construction." %}</p>
</div>

{% comment %}
<div class="organization-widget">
    <p>{% trans "Copy and paste this Block of Code to your Website to show a List of all upcoming Events of your Organization." %}</p>
    <pre class="prettyprint">&lt;iframe src="http://{{ request.get_host }}{% url 'organization-iframe-upcoming' organization.id %}" name="iframe" width="400" height="200" align="right" scrolling="auto"&gt;&lt;p&gt;Widget not supported in your browser&lt;/p&gt;&lt;iframe&gt;</pre>
</div>

<div class="organization-widget">
    <p>{% trans "Copy and paste this Block of Code to your Website to show a List of all past Events of your Organization and their Participants." %}</p>
    <pre class="prettyprint">&lt;iframe src="http://{{ request.get_host }}{% url 'organization-iframe-complete' organization.id %}" name="iframe" width="400" height="200" align="right" scrolling="auto"&gt;&lt;p&gt;"Widget not supported in your browser&lt;/p&gt;&lt;/iframe&gt;</pre>
</div>
{% endcomment %}
