<script>
    /*************************************************************************/
    /*** Files Uploading                                                   ***/
    /*************************************************************************/
    var upload_count = $("#tmp_files input").length;

    var image_count = 0;
    var doc_count = 0;
    var link_count = 0;

    var saved_images = 0;
    var saved_documents = 0;
    var saved_links = 0;

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // ------------------------------------------------------------------------
    //--- Remove uploaded File.
    // ------------------------------------------------------------------------
    function removeFile(index, container, event) {
        if (is_image($("#id_tmp_images_path_" + index).val())) {
            image_count--;
        } else {
            doc_count--;
        }

        removeAttachedFile($(container).attr("tmp-file-id"), "temp", event);

        $("#id_tmp_files_" + index).remove();
        $("#id_tmp_images_path_" + index).remove();

        $(container).parent().remove();

        tally();
    }

    // ------------------------------------------------------------------------
    // --- Check, if uploaded File is an Document.
    // ------------------------------------------------------------------------
    function is_document(path) {
        return _.contains({{ documents|safe }}, path.split(".").pop());
    }

    // ------------------------------------------------------------------------
    // --- Check, if uploaded File is an Image.
    // ------------------------------------------------------------------------
    function is_image(path) {
        return _.contains({{ images|safe }}, path.split(".").pop());
    }

    $(function () {
        var url = "{% url 'api-tmp-upload' %}";
        var csrftoken = "{{ csrf_token }}";

        $("input[name='tmp_images_path']").each( function (key, obj) {
            if (is_image(obj.value)) {
                $("<li class='file-container' />").html("<img src='" + obj.value + "'><a class='btn btn-sm btn-danger' href='#' onClick='removeFile(" + key + ", this)>Remove</a>").appendTo("#files");
                $("#files-label").show();

                saved_images++;
            } else {
                if ($("#docs").text() != "") {
                    $("#docs").append(", ");
                }

                $("<li class='file-container' />").html("<a href='" + obj.value + "'>" + (obj.value.split("/").pop()) + "</a> <a href='#' class='btn btn-sm btn-danger' onClick='removeFile(" + key + ", this)'><i class='bi bi-times'></i></a>").appendTo("#docs");
                $("#docs-label").show();

                saved_documents++;
            }
        });

        $("#fileupload-images").fileupload({
            url: url,
            crossDomain: false,
            acceptFileTypes: /(\.|\/)({{ images_str_reg }})$/i,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            dataType: "json",
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    // --------------------------------------------------------
                    // --- Render Thumbnails.
                    if (is_image(file.tmp_file_name)) {
                        $("<div class='gallery-container' />").html("<i class='bi bi-x-circle' onClick='removeFile(" + upload_count + ", this, event)' tmp-file-id='" + file.tmp_file_id + "'></i><img src='{{ MEDIA_URL }}" + file.tmp_file_name + "' width='100'>").appendTo("#files");
                        $("#files-label").show()
                    }

                    // --------------------------------------------------------
                    // --- UPLOAD ID: Used by Django to associate Upload with Record.
                    $("<input type='hidden' id='id_tmp_files_" + upload_count + "' name='tmp_files'>").val(file.tmp_file_id).appendTo("#tmp_files");

                    // --------------------------------------------------------
                    // --- UPLOAD PATH: Used by Javascript to render Thumbnails.
                    $("<input type='hidden' id='id_tmp_images_path_" + upload_count + "' name='tmp_images_path'>").val("{{ MEDIA_URL }}" + file.tmp_file_name).appendTo("#tmp_images_path");

                    upload_count++;
                    image_count++;

                    tally();
                });

                window.setTimeout(function () {
                    $("#progress .progress-bar").css("width", "0%");
                    $("#progress").css("display", "none");
                }, 1000);
            },
            fail: function (e, data) {
                console.log(">>> FAIL");
                console.log(">>> e", e);
                console.log(">>> data", data);
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);

                $("#progress").css("display", "block");
                $("#progress .progress-bar").css("width", progress + "%");
            },
            dropZone: $("#fileupload-images")
        }).prop("disabled", !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : "disabled");

        $("#fileupload-images").bind("fileuploadprocessfail", function (e, data) {
            alert("Sorry, this Field only supports the following File Types:\n - {{ images_str }}\n\nYour File was not added.");
        });

        $("#fileupload-documents").fileupload({
            url: url,
            crossDomain: false,
            acceptFileTypes: /(\.|\/)({{ documents_str_reg }})$/i,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            dataType: "json",
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    // --------------------------------------------------------
                    // --- Render Thumbnails.
                    if (is_document(file.tmp_file_name)) {
                        $("<div class='documents-container' />").html("<i class='bi bi-x-circle' onClick='removeFile(" + upload_count + ", this, event)' tmp-file-id='" + file.tmp_file_id + "'></i> " + (file.tmp_file_name.split("/").pop()) + "<br/>").appendTo("#docs");
                        $("#docs-label").show()
                    }

                    // --------------------------------------------------------
                    // --- UPLOAD ID: Used by Django to associate an Upload with a Record.
                    $("<input type='hidden' id='id_tmp_files_" + upload_count + "' name='tmp_files'>").val(file.tmp_file_id).appendTo("#tmp_files");

                    // --------------------------------------------------------
                    // --- UPLOAD PATH: Used by JavaScript to render Thumbnails.
                    $("<input type='hidden' id='id_tmp_images_path_" + upload_count + "' name='tmp_images_path'>").val("{{ MEDIA_URL }}" + file.tmp_file_name).appendTo("#tmp_images_path");

                    upload_count++;
                    doc_count++;

                    tally();
                });

                window.setTimeout(function() {
                    $("#progress .progress-bar").css("width", "0%");
                    $("#progress").css("display", "none");
                }, 1000);
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);

                $("#progress").css("display", "block");
                $("#progress .progress-bar").css("width", progress + "%");
            },
            dropZone: $("#fileupload-documents")
        })
        .prop("disabled", !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : "disabled");

        $("#fileupload-documents").bind("fileuploadprocessfail", function (e, data) {
            alert("Sorry, this Field only supports the following File Types:\n - {{ documents_str }}\n\nYour File was not added.");
        });

        tally();
    });

    // ------------------------------------------------------------------------
    // --- Remove attached File.
    // ------------------------------------------------------------------------
    function removeAttachedFile(id, type, event) {
        var event = window.event || event;

        event.preventDefault();

        if (!event.target) event.target = event.srcElement;

        var srcElement = event.target;

        $.post("{% url 'api-remove-upload' %}", {
            "type":                 type,
            "id":                   id,
            "csrfmiddlewaretoken":  $("input[name='csrfmiddlewaretoken']").val()
        }).done(function (result) {
            if (result.deleted) {
                $(srcElement).parent().remove();
            }
        }).fail(function (data) {
        });
    }

    // ------------------------------------------------------------------------
    // --- Remove attached Link.
    // ------------------------------------------------------------------------
    function removeAttachedLink(id, type, event) {
        var event = window.event || event;

        event.preventDefault();

        if (!event.target) event.target = event.srcElement;

        var srcElement = event.target;

        $.post("{% url 'api-remove-link' %}", {
            "type":                 type,
            "id":                   id,
            "csrfmiddlewaretoken":  $("input[name='csrfmiddlewaretoken']").val()
        }).done( function(result) {
            if (result.deleted) {
                $(srcElement).parent().remove();
            }
        }).fail( function(data) {
        });
    }

    // ------------------------------------------------------------------------
    // --- Update Attachment Counters.
    // ------------------------------------------------------------------------
    function tally() {
        if (typeof saved_images == "undefined") {
            saved_images = 0;
        }

        if (typeof saved_documents == "undefined") {
            saved_documents = 0;
        }

        if (typeof saved_links == "undefined") {
            saved_links = 0;
        }

        var total_images = image_count + saved_images;
        var total_documents = doc_count + saved_documents;
        var total_links = saved_links;

        if ($("#id_links").length && $("#id_links").val() != "") {
            total_links += $("#id_links").val().split(" ").length;
        }
        $("#id_tmp_links").val($("#id_links").val());

        $("#total_images").text(total_images);
        $("#total_documents").text(total_documents);
        $("#total_links").text(total_links);
    }

    // ------------------------------------------------------------------------
    // --- Initialize Attachment Counters.
    // ------------------------------------------------------------------------
    $(document).ready(function () {
        saved_images = $(".gallery-container").length;
        saved_documents = $(".documents-container").length;
        saved_links = $(".links-container").length + $(".video-links-container").length;

        $("#total_images").text(saved_images);
        $("#total_documents").text(saved_documents);
        $("#total_links").text(saved_links);
    })
</script>
