{% load i18n %}

<div class="modal fade" id="postClosePopupModal" tabindex="-1" role="dialog" aria-labelledby="postClosePopupModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postClosePopupModalLabel">{% trans "Close Post" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="post-close-modal-form" action="" method="POST">
                    {% csrf_token %}
                    {% trans "Do you really want to close this Post?" %}
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-danger" onclick="post_close();">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Close Post                                                        ***/
    /*************************************************************************/
    function post_close() {
        $.post("{% url 'api-post-close' 0 %}".replace("0", {{ post.id }}), {
            "csrfmiddlewaretoken":  $("#post-close-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#postClosePopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();

            //location.reload();
            location.replace("{% url 'post-list' %}");
        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to close the Post."
                }).show();
            };
        });

        return true;
    }
</script>
