{% extends "base.html" %}

{% load i18n %}
{% load imagekit %}
{% load accounttags %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<accounts> - List of Accounts
{% endcomment %}

{% block title %}{% trans "Members List" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Members" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id="organization-list" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <h4>{{ page_title }}</h4>

            <div class="controllers">
            </div>

            <div class="row g-2">
            {% for account in accounts %}
                <div class="col-3">
                    {% include "accounts/fragments/account-thumbnail.html" with account=account %}
                </div>
            {% empty %}
                <div class="col-12">
                    <p><span class="label label-info">{% trans "There are no Members at the Moment." %}</span></p>
                </div>
            {% endfor %}

                <div id="page-selection"></div>
            </div>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Spotlight -->
            <div id="spotlight">
                <h4>{% trans "Spotlight" %}</h4>
            </div>

            <!-- Sponsored Links -->
            <div id="sponsored-links">
                <h4>{% trans "Sponsored Links" %}</h4>
                {% include "app/fragments/sponsored-links-side.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
