{% extends "base.html" %}

{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<form> - Log-in Form
{% endcomment %}

{% block title %}{% trans "Password forgot" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'signin' %}">{% trans "Sign in" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Request Password Reset" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id="password-forgot" class="p-3">
    <div class="card mb-3 shadow">
        <div class="alert alert-warning mb-md-3" role="alert">
        {% blocktrans %}
            <h5 class="alert-heading"><i class="bi bi-sign-stop flex-shrink-0 me-2"></i>WIP</h5>
            <p>When <strong>SendGrid</strong>&nbsp;is set up, the User will receive an Email to confirm the Password reset Request.</p>
            <p class="mb-0">Until then, the System will automatically accept the Password reset Requests.</p>
        {% endblocktrans %}
        </div>

        <form id="forgot-password-form" role="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row g-2">
                <div class="form-floating col-12 {% if form.email.errors %}has-error{% endif %}">
                    {{ form.email }}
                    <label for="id_email" class="form-label">{{ form.email.label }}{% if form.email.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                    <span class="help-block">{% if form.email.errors %}{% for error in form.email.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                </div>

                <div class="form-floating col-12">
                {% if form.non_field_errors %}
                    <div class="form-group has-error">
                    {% for error in form.non_field_errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% endif %}
                </div>

                <button class="btn btn-lg btn-primary w-100 py-2" type="submit">Request</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
