{% extends "base.html" %}

{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<form> - Log-in Form
{% endcomment %}

{% block title %}{% trans "Password reset" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'signin' %}">{% trans "Sign in" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Password Reset" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}


{% block content %}
<div id="password-forgot" class="p-3">
    <div class="card mb-3 shadow">
        <h3>{% trans "Please, enter new Password" %}</h3>

        <form id="password-reset-form" action="." method="POST" role="form">
            {% csrf_token %}

            <div class="row g-2">
                <div class="form-floating col-12 {% if form.password.errors %}has-error{% endif %}">
                    {{ form.password }}
                    <label for="id_password" class="form-label">{{ form.password.label }}{% if form.password.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                    <span class="help-block">{% if form.password.errors %}{% for error in form.password.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                </div>
                <div class="form-floating col-12 {% if form.retry.errors %}has-error{% endif %}">
                    {{ form.retry }}
                    <label for="id_retry" class="form-label">{{ form.retry.label }}{% if form.retry.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                    <span class="help-block">{% if form.retry.errors %}{% for error in form.retry.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                </div>

                <div class="form-floating col-12">
                {% if form.non_field_errors %}
                    <div class="form-group has-error">
                    {% for error in form.non_field_errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% endif %}
                </div>

                <button class="btn btn-lg btn-primary w-100 py-2" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
