{% extends "accounts/foreign-profile-base.html" %}

{% load cache %}
{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<events>      - List of Events
        :<page_total>  - Total Number of Pages
        :<page_number> - Number of current Page
{% endcomment %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Events List" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'account-list' %}">{% trans "Members" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile-view' account.uid %}">{{ account.profile.auth_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Events" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content%}
<div id="foreign-profile-events" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <!-- START CONTROLLERS -->
            {% include "events/fragments/event-list-controllers.html" %}
            <!--  END  CONTROLLERS -->

            <!-- START FILTER FORM -->
            {# include "events/fragments/event-list-filter-form.html" #}
            <!--  END  FILTER FORM -->

            <!-- START EVENTS -->
            <section id="event-list-grouper" class="position-relative">
                {% include "events/fragments/event-list-grouper.html" %}
            </section>
            <!--  END  EVENTS -->
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Media -->

            <!-- Tag Cloud -->
            <section id="tag-cloud">
            {% cache 60 tag-cloud-events LANGUAGE_CODE %}
                <h4>{% trans "Tag Cloud" %}</h4>
                {% include "events/fragments/event-list-tag-cloud.html" %}
            {% endcache %}
            </section>

            <!-- Sponsored Links -->
            <section id="sponsored-links">
                <h4>{% trans "Sponsored Links" %}</h4>
                {% include "app/fragments/sponsored-links-side.html" %}
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% comment %}
{% block extra_content %}
    {% need_to_know_affiliated_events_tag request account as need_to_know_affiliated_events %}

<div class="container">
    <div id="foreign-profile-events">
    {% if need_to_know_affiliated_events %}
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h4>
                    <span class="hidden-xs">{% trans "Affiliated with" %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans "Affiliated with" %}</span>
                </h4>

                <div id="events-action-required-section">
                    {% include "accounts/tabs/foreign-profile/admin-events-tab.html" %}
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>

<!-- Modals -->

<!-- Scripts -->
{% endblock %}
{% endcomment %}
