{% extends "accounts/my-profile-base.html" %}

{% load i18n %}

{% block extra_content %}
<div class="container">
    <div id="my-profile-events">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h4>
                    <span class="hidden-xs">{% trans "Events required Action" %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans "Action required" %}</span>
                </h4>

                <div id="events-action-required-section">
                    {% include "accounts/tabs/my-profile/admin-events-action-required-tab.html" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h4>
                    <span class="hidden-xs">{% trans "Upcoming Events" %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans "Upcoming" %}</span>
                </h4>

                <div id="events-upcoming-section">
                    {% include "accounts/tabs/my-profile/admin-events-upcoming-tab.html" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h4>
                    <span class="hidden-xs">{% trans "Completed Events" %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans "Complete" %}</span>
                </h4>

                <div id="events-complete-section">
                    {% include "accounts/tabs/my-profile/admin-events-complete-tab.html" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <h4>
                    <span class="hidden-xs">{% trans "Draft Events" %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans "Drafts" %}</span>
                </h4>

                <div id="events-draft-section">
                    {% include "accounts/tabs/my-profile/admin-events-draft-tab.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->

{% if request.user.is_authenticated %}
    {% include "events/modals/event-participation-reject-modal.html" %}
    {% include "events/modals/event-selfreflection-accept-modal.html" %}
    {% include "events/modals/event-selfreflection-reject-modal.html" %}
{% endif %}

<!-- Scripts -->

<script type="text/javascript">
    /*************************************************************************/
    /*** Global Variables                                                  ***/
    /*************************************************************************/
    var element;
</script>
{% endblock %}
