{% extends "accounts/my-profile-base.html" %}

{% load i18n %}

{% comment %}
    Input Parameters:
        :<request> - Request
{% endcomment %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'my-profile-view' %}">{% trans "My Profile" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'my-profile-invitations' %}">{% trans "Invitations" %}</a></li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block extra_content %}
<div id="my-profile-invitations" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-12">
            <!-- START PROFILE RECEIVED INVITATIONS -->
            <section id="profile-invitations-received">
                <h3>{% trans "Received Invitations" %} <a class="btn btn-rounded btn-danger pull-right inv-received-archive" href="#"><i class="fa fa-minus fa-fw"></i> {% trans "Archive" %}</a></h3>
                {% include "accounts/tabs/my-profile/invitations-received-tab.html" %}
            </section>
            <!--  END  PROFILE RECEIVED INVITATIONS -->

            <hr>

            <!-- START PROFILE SENT INVITATIONS -->
            <section id="profile-invitations-sent">
                <h3>{% trans "Sent Invitations" %} <a class="btn btn-rounded btn-danger pull-right inv-sent-archive" href="#"><i class="fa fa-minus fa-fw"></i> {% trans "Archive" %}</a></h3>
                {% include "accounts/tabs/my-profile/invitations-sent-tab.html" %}
            </section>
            <!--  END  PROFILE SENT INVITATIONS -->
        </div>
    </div>
</div>

<!-- Modals -->

{% if request.user.is_authenticated %}
    {% include "invites/modals/invite-reject-popup-modal.html" %}
{% endif %}

<!-- Scripts -->

<script type="text/javascript">
    /*************************************************************************/
    /*** Global Variables                                                  ***/
    /*************************************************************************/
    var element;
</script>
{% endblock %}
