{% load i18n %}

<div class="modal fade" id="eventRatePopupModal" tabindex="-1" role="dialog" aria-labelledby="eventRatePopupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onClick="" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="eventRatePopupModalLabel">{% trans "Rate the Event" %}</h4>
            </div>

            <div class="modal-body">
                <form id="event-rate-modal-form" action="" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="event_id" value="">
                    <input type="hidden" name="organization_id" value="">
                    <input type="hidden" name="organizer_id" value="">

                    <p><strong>{% trans "Thank you for participating! Please take a minute to rate the Event, Organization and Organizer." %}</strong></p>

                    <div id="event-form-group" class="form-group">
                        <label for="id_event_review_text">{% trans "How would you rate the Event?" %}</label><br/>
                        <input id="id_event_rating" name="event_rating" type="hidden" class="rating" data-filled="bi bi-star" data-empty="bi bi-star-o" data-start="0" data-stop="5" data-step="1" />
                        <textarea id="id_event_review_text" name="event_review_text" class="form-control" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>

                    <div id="organization-form-group" class="form-group">
                        <label for="id_organization_review_text">{% trans "How would you rate the Organization?" %}</label><br/>
                        <input id="id_organization_rating" name="organization_rating" type="hidden" class="rating" data-filled="bi bi-star" data-empty="bi bi-star-o" data-start="0" data-stop="5" data-step="1" />
                        <textarea id="id_organization_review_text" name="organization_review_text" class="form-control" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>

                    <div id="organizer-form-group" class="form-group">
                        <label for="id_organizer_review_text">{% trans "How would you rate the Organizer?" %}</label><br/>
                        <input id="id_organizer_rating" name="organizer_rating" type="hidden" class="rating" data-filled="bi bi-star" data-empty="bi bi-star-o" data-start="0" data-stop="5" data-step="1" />
                        <textarea id="id_organizer_review_text" name="organizer_review_text" class="form-control" maxlength="1000" placeholder="Enter text here..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="participation_rate();">{% trans "Submit" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Rate the Event, Organization and Organizer                    ***/
    /*************************************************************************/
    function participation_rate() {
        var event_id = $("#event-rate-modal-form").find("input[name='event_id']").val();
        var organization_id = $("#event-rate-modal-form").find("input[name='organization_id']").val();
        var organizer_id = $("#event-rate-modal-form").find("input[name='organizer_id']").val();

        var event_rating = $("input[name='event_rating']").rating("rate");
        var organization_rating = $("input[name='organization_rating']").rating("rate");
        var organizer_rating = $("input[name='organizer_rating']").rating("rate");

        var event_review_text = $("#event-rate-modal-form").find("textarea[name='event_review_text']").val();
        var organization_review_text = $("#event-rate-modal-form").find("textarea[name='organization_review_text']").val();
        var organizer_review_text = $("#event-rate-modal-form").find("textarea[name='organizer_review_text']").val();

        $.post("{% url 'api-rating-list' %}", {
            "event_id":                 event_id,
            "organization_id":              organization_id,
            "organizer_id":                 organizer_id,

            "event_rating":             event_rating,
            "organization_rating":          organization_rating,
            "organizer_rating":             organizer_rating,

            "event_review_text":        event_review_text,
            "organization_review_text":     organization_review_text,
            "organizer_review_text":        organizer_review_text,

            "csrfmiddlewaretoken":          $("#event-rate-modal-form").find("input[name='csrfmiddlewaretoken']").val()
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $("#eventRatePopupModal").modal("hide");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();

            // ----------------------------------------------------------------
            // --- Related to the `Accounts: My Profile Page: Completed Events Tab`
            $(".action-" + event_id).find(".add-rating").hide("slow");

            // ----------------------------------------------------------------
            // --- Related to the `Events: Details Page: Info Tab`
            $(element).parent().parent().find("#div-add-rating").hide("slow");

            // location.reload(true);
        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to rate the Event."
                }).show();
            };
        });

        return true;
    }
</script>
