{% extends "base.html" %}

{% load i18n %}
{% load imagekit %}
{% load taggit_templatetags2_tags %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<organizations> - List of Organizations
{% endcomment %}

{% block title %}{% trans "Create Organization" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Organizations" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id="organization-list" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <!-- START CONTROLLERS -->
            <div class="controllers">
                <a class="btn btn-link" href="{% url 'organization-directory' %}">{% trans "Directory" %}</a>
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'organization-create' %}"><i class="bi bi-plus-circle"></i> {% trans "Create" %}</a>
            {% endif %}
            </div>
            <!--  END  CONTROLLERS -->

            <div class="row g-2">
                {% for organization in organizations %}
                <div class="col-12">
                    {% include "organizations/fragments/organization-thumbnail-hor.html" with organization=organization %}
                </div>
                {% endfor %}

                <div id="page-selection"></div>
            </div>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Tag Cloud -->
            <section id="tag-cloud">
                <h4>{% trans "Tag Cloud" %}</h4>
                {% get_taglist as taglist for "organizations.organization" %}
                {% get_tagcloud as tagcloud for "organizations.organization" %}

                <div class="tag-cloud">
                {% for tag in tagcloud %}
                    <a href="?tag={{ tag.id }}">
                        <font size="{{ tag.weight|floatformat:0 }}">
                            {{ tag.name }} ({{ tag.num_times }})
                        </font>
                    </a>
                {% endfor %}
                </div>
            </section>

            <!-- Sponsored Links -->
            <section id="sponsored-links">
                <h4>{% trans "Sponsored Links" %}</h4>
                {% include "app/fragments/sponsored-links-side.html" %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
