{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}
{% load imagekit %}
{% load formset_tags %}

{% comment %}
    Input Parameters:
        :<form>
        :<aform>
        :<formset_phone>
        :<formset_social>
{% endcomment %}

{% block title %}{% trans "Create Organization" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'organization-list' %}">{% trans "Organizations" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Create" %}</li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block content %}
<div id="organization-create" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <form id="create-organization-form" role="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div id="org-appearance">
                    <h3>{% trans "Appearance" %}</h3>

                    <div class="row g-2">
                        <div class="col-md-6">
                            <label for="id_preview" class="form-label">{% trans "Upload Preview Image" %}</label>
                            <input id="id_preview" class="form-control" type="file">
                            <div class="form-group {% if form.preview.errors %}has-error{% endif %}">
                                <span class="help-block">{% if form.preview.errors %}{% for error in form.preview.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="id_cover" class="form-label">{% trans "Upload Cover Image" %}</label>
                            <input id="id_cover" class="form-control" type="file">
                            <div class="form-group {% if form.cover.errors %}has-error{% endif %}">
                                <span class="help-block">{% if form.cover.errors %}{% for error in form.cover.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="org-description">
                    <h3>{% trans "Description" %}</h3>

                    <div class="row g-3">
                        <div class="form-floating col-12 {% if form.title.errors %}has-error{% endif %}">
                            {{ form.title }}
                            {{ form.title.label_tag }}
                            <span class="help-block">{% if form.title.errors %}{% for error in form.title.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-12 {% if form.description.errors %}has-error{% endif %}">
                            {{ form.description }}
                            {{ form.description.label_tag }}
                            <span class="help-block">{% if form.description.errors %}{% for error in form.description.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <div class="form-floating col-md-6 {% if form.tags.errors %}has-error{% endif %}">
                            {{ form.tags }}
                            <label class="control-label">{{ form.tags.label }}{% if form.tags.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.tags.errors %}{% for error in form.tags.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-6 {% if form.hashtag.errors %}has-error{% endif %}">
                            {{ form.hashtag }}
                            <label class="control-label">{{ form.hashtag.label }}{% if form.hashtag.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.hashtag.errors %}{% for error in form.hashtag.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <div class="form-floating col-md-4 {% if form.website.errors %}has-error{% endif %}">
                            {{ form.website }}
                            {{ form.website.label_tag }}
                            <span class="help-block">{% if form.website.errors %}{% for error in form.website.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4 {% if form.video.errors %}has-error{% endif %}">
                            {{ form.video }}
                            {{ form.video.label_tag }}
                            <span class="help-block">{% if form.video.errors %}{% for error in form.video.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4 {% if form.email.errors %}has-error{% endif %}">
                            {{ form.email }}
                            {{ form.email.label_tag }}
                            <span class="help-block">{% if form.email.errors %}{% for error in form.email.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <hr>

                        <div class="checkbox checkbox-primary">
                            {{ form.is_hidden }}
                            {{ form.is_hidden.label_tag }}
                        {% if form.is_hidden.help_text %}
                            <p class="help">{{ form.is_hidden.help_text|safe }}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>

                <div id="org-location">
                    <h3>{% trans "Location" %}</h3>

                    <div class="checkbox checkbox-primary">
                        {{ form.addressless }}
                        {{ form.addressless.label_tag }}
                    </div>

                    {% include "app/fragments/address.html" %}
                </div>

                <div id="org-phones">
                    <h3>{% trans "Phone Numbers" %}</h3>
                    {% include "app/fragments/formset-phone.html" %}
                </div>

                <div id="org-contact-person">
                    <h3>{% trans "Contact Person" %}</h3>

                    <div class="form-group">
                    {% for choice in form.contact %}
                        <div class="radio radio-primary">
                            {{ choice.tag }}
                            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                    </div>

                    <div id="alt_person_creds" class="row g-3">
                        <div class="form-floating col-md-4 {% if form.alt_person_fullname.errors %}has-error{% endif %}">
                            {{ form.alt_person_fullname }}
                            {{ form.alt_person_fullname.label_tag }}
                            <span class="help-block">{% if form.alt_person_fullname.errors %}{% for error in form.alt_person_fullname.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4 {% if form.alt_person_email.errors %}has-error{% endif %}">
                            {{ form.alt_person_email }}
                            {{ form.alt_person_email.label_tag }}
                            <span class="help-block">{% if form.alt_person_email.errors %}{% for error in form.alt_person_email.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4 {% if form.alt_person_phone.errors %}has-error{% endif %}">
                            {{ form.alt_person_phone }}
                            {{ form.alt_person_phone.label_tag }}
                            <span class="help-block">{{ form.alt_person_phone.help_text }} {% if form.alt_person_phone.errors %}{% for error in form.alt_person_phone.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    </div>
                </div>

                <div id="org-social-links">
                    <h3>{% trans "Social Links" %}</h3>
                    {% include "app/fragments/formset-social.html" %}
                </div>

                <div id="org-complete">
                    <h3>{% trans "Complete" %}</h3>

                    <p>{% trans "You have successfully completed all Steps." %}</p>

                    <div class="row">
                        <div class="col-12 feature">
                            <a href="#" name="org-create" class="org-create">
                                <span><i class="flaticon-rounded25"></i></span>
                                <p>{% trans "Create this Organization" %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <h4>{% trans "Tips" %}</h4>

            <div class="alert alert-info">
            {% blocktrans %}
                You can create your Organization here. If you have any questions, don't hesitate to <a href="mailto:support@saneside.com">contact Support</a>.
            {% endblocktrans %}
            </div>

            <div class="alert alert-success">
                {% trans "After creating the Organization, you will be redirected to the Details Page, where you can attach related Images, Documents and Links." %}
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /#organization-create .container -->

<!-- Scripts -->

<script>
    /*************************************************************************/
    /*** Form Submitting                                                   ***/
    /*************************************************************************/
    $("a[name='org-create']").click(function () {
        // --------------------------------------------------------------------
        // --- Check, if Preview and Cover Input are NOT empty.
        if ($("#id_preview").get(0).files.length === 0 || $("#id_cover").get(0).files.length === 0) {
            alert("Please, select the Preview and Cover Images.");

            return false;
        }

        $("#spinner").fadeIn("slow");
        $("form#create-organization-form").submit();

        return true;
    })

    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for field in aform %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for form in formset_phone.forms %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        new Noty({
                            text: "Phone : {{ field.label }}: {{ error }}"
                        }).show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% for form in formset_social.forms %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        new Noty({
                            text: "Social Link : {{ field.label }}: {{ error }}"
                        }).show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        /*********************************************************************/
        /*** Entity has Address?                                           ***/
        /*********************************************************************/
        $("address").show();

        if ($("#id_addressless").prop("checked")) {
            $("address").hide();
        }

        $("#id_addressless").click(function () {
            $("address").toggle("slow");
        });

        /*********************************************************************/
        /*** Contact Person UX                                             ***/
        /*********************************************************************/
        $("#alt_person_creds").hide();

        selected = $("input[type='radio']:checked");

        if (selected.val() == "he") {
            $("#alt_person_creds").show("slow");
        }

        $("#id_contact_0").click(function () {
            $("#alt_person_creds").hide("slow");
        });

        $("#id_contact_1").click(function () {
            $("#alt_person_creds").show("slow");
        })
    });
</script>
{% endblock %}
