{% extends "collections/collection-base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}
{% load imagekit %}
{% load formset_tags %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<collection> - Collection
        :<form>       - Collection Form
{% endcomment %}

{% block title %}{% trans "Edit Collection" %} - {{ block.super }}{% endblock %}

{% block extra_meta %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block extra_script %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block important_message %}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection-list' %}">{% trans "Collection" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'collection-details' collection.slug %}">{{ collection.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="collection-edit" class="bg-body-tertiary p-3">
{% comment %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% trans "You can edit your Collection here. After you save Changes, all applied Members will receive appropriate Notifications." %}
            </div>
        </div>
    </div>
{% endcomment %}

    <div class="row g-2">
        <div class="col-md-9">
            <form id="edit-collection-form" role="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- START COLLECTION APPEARENCE -->
                <section id="collection-appearance">
                    <div class="card mb-3 shadow">
                        <div class="row g-0">
                            <div class="col-md-3">
                                <div id="prerunner">
                                {% if collection.preview %}
                                    {% generateimage "common:medium_fill" source=collection.preview -- alt=collection.preview.title class='img-fluid rounded-start' %}
                                {% else %}
                                    <img class="img-fluid rounded-start" src="{{ STATIC_URL }}img/no-avatar.png" height="400" width="400" alt="" />
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h3>{% trans "Appearance" %}</h3>

                                    <div class="row g-2">
                                        <div class="col-12">
                                            <label for="id_preview" class="form-label">{% trans "Upload Preview Image" %}</label>
                                            <input id="id_preview" name="preview" class="form-control" type="file" accept="{{ images_str_ext }}">
                                            <span class="help-block">{% if form.preview.errors %}{% for error in form.preview.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                        <div class="col-12">
                                            <label for="id_cover" class="form-label">{% trans "Upload Cover Image" %}</label>
                                            <input id="id_cover" name="cover" class="form-control" type="file" accept="{{ images_str_ext }}">
                                            <span class="help-block">{% if form.cover.errors %}{% for error in form.cover.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  END  COLLECTION APPEARENCE -->

                <!-- START COLLECTION DESCRIPTION -->
                <section id="collection-description">
                    <h3>{% trans "Description" %}</h3>

                    <div class="row g-2">
                        <div class="form-floating col-12 {% if form.title.errors %}has-error{% endif %}">
                            {{ form.title }}
                            <label for="id_title" class="form-label">{{ form.title.label }}{% if form.title.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.title.errors %}{% for error in form.title.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-12 {% if form.description.errors %}has-error{% endif %}">
                            {{ form.description }}
                            <label for="id_description" class="form-label">{{ form.description.label }}{% if form.description.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.description.errors %}{% for error in form.description.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <div class="form-floating col-md-4 {% if form.visibility.errors %}has-error{% endif %}">
                            {{ form.visibility }}
                            <label for="id_visibility" class="form-label">{{ form.visibility.label }}{% if form.visibility.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.visibility.errors %}{% for error in form.visibility.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="col-md-4 {% if form.tags.errors %}has-error{% endif %}">
                            {{ form.tags }}
                            <p class="help"><small class="text-muted">{{ form.tags.help_text|safe }}</small></p>
                            <span class="help-block">{% if form.tags.errors %}{% for error in form.tags.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4{% if form.hashtag.errors %}has-error{% endif %}">
                            {{ form.hashtag }}
                            <label for="id_hash_tag" class="form-label">{{ form.hashtag.label }}{% if form.hashtag.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.hashtag.errors %}{% for error in form.hashtag.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    </div>
                </section>
                <!--  END  COLLECTION DESCRIPTION -->

                <hr>

                <!-- START COLLECTION EVENTS -->
                <section id="collection-events">
                    <h3>{% trans "Events" %}</h3>

                    <div class="row g-2">
                        <div class="col-12 {% if form.events.errors %}has-error{% endif %}">
                            <!-- <label for="id_events" class="form-label">{{ form.events.label }}{% if form.events.field.required %}<span class="asteriskField">*</span>{% endif %}</label> -->
                            {{ form.events }}
                            <span class="help-block">{% if form.events.errors %}{% for error in form.events.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    </div>
                </section>
                <!--  END  COLLECTION EVENTS -->

                <hr>

                <!-- START COLLECTION COMPLETE -->
                <section id="collection-complete">
                    <h3>{% trans "Complete" %}</h3>
                    <div class="form-check text-start my-1">
                        {{ form.allow_comments }}
                        {{ form.allow_comments.label }}
                    </div>

                    <div class="row">
                        <div class="col-12 feature">
                            <a href="#" name="submit" class="collection-edit">
                                <span><i class="flaticon-rounded25"></i></span>
                                <p>{% trans "Save Changes" %}</p>
                            </a>
                        </div>
                    </div>
                </section>
                <!--  END  COLLECTION COMPLETE -->
            </form>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Media -->
            <a class="btn btn-primary w-100 mb-2" name="submit"><i class="bi bi-check-square"></i>&nbsp;{% trans "Save Changes" %}</a>
            <a class="btn btn-danger  w-100 mb-2" name="submit"><i class="bi bi-radioactive"></i>&nbsp;{% trans "Delete Collection" %}</a>
        </div>
    </div>
</div>

<!-- Script -->

<script>
    /*************************************************************************/
    /*** Submit Form                                                       ***/
    /*************************************************************************/
    $("a[name='submit']").click(function () {
        $("#spinner").fadeIn("slow");

        /*** DATE FORMAT *****************************************************/
        var $input = $("input[name='start_date']");
        var val = $input.val();

        if (val) {
            var valMoment = moment(val);
            var isMoment = moment.isMoment(valMoment);

            if (isMoment) {
                $input.attr("type", "text");
                $input.val(valMoment.format("MM/DD/YYYY"));
            }
        }
        /*********************************************************************/

        $("form#edit-collection-form").submit();

        return true;
    })

    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
