{% extends "collections/collection-base.html" %}

{% load cache %}
{% load i18n %}
{% load imagekit %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<collection>         - Collection
        :<meta>               - Meta Data
        :<show_rate_form>     - Show rate Form?
        :<show_complain_form> - Show complain Form?
        :<is_newly_created>   - Is newly created?
{% endcomment %}

{% get_current_language as LANGUAGE_CODE %}

{% block extra_meta %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block extra_script %}{% endblock %}
{% block extra_head %}{% endblock %}

{% block important_message %}{% endblock %}

{% block content %}
{% cache 60 collection-info collection.slug LANGUAGE_CODE %}
<div id="collection-info" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <!-- START COLLECTION CARD -->
            <section id="collection-card">
                <div class="card {% if collection.is_private %}card-private{% endif %} mb-3 shadow bg-body rounded">
                    <div class="row g-0">
                        <div class="col-md-3">
                        {% if collection.preview %}
                            {% generateimage "common:medium_fill" source=collection.preview -- alt=collection.preview.title class='img-fluid' %}
                        {% else %}
                        {% endif %}

                        {% if collection.get_rating_avg > 0 %}
                            {% include "app/fragments/rating-card-hor.html" with instance=collection %}
                        {% endif %}
                        </div>

                        <div class="col-md-9">
                            <div class="card-header bg-transparent">
                                <h5 class="card-title mb-0">
                                    {{ collection.title }}

                                {% if collection.get_rating_avg > 0 %}
                                    <div class="" style="color:orange;">
                                        <input id="id_collection_rating" name="collection_rating" type="hidden" class="rating" data-filled="bi bi-star" data-empty="bi bi-star-o" data-start="0" data-stop="5" data-step="1" disabled="disabled" value="{{ collection.get_rating_avg }}" />
                                    </div>
                                {% endif %}
                                </h5>
                            </div>

                            <div class="card-body">
                                <blockquote class="readmore"><small class="text-muted">{{ collection.description|striptags|escape|default:"N/A" }}</small></blockquote>

                                <hr>

                                <p class="card-text">
                                {% if collection.tags.all and collection.hashtag %}
                                    <i class="bi bi-tags"></i>{% for tag in collection.tags.all %}<a href="?tag={{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                    <span class="vert-delimiter">|</span>
                                    <i class="bi bi-hash"></i>{{ collection.hashtag }}
                                {% elif collection.tags.all %}
                                    <i class="bi bi-tags"></i>{% for tag in collection.tags.all %}<a href="?tag={{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                {% elif collection.hashtag %}
                                    <i class="bi bi-hash"></i>{{ collection.hashtag }}>
                                {% endif %}
                                </p>

                                <p class="card-text">
                                {% if collection.author.profile.avatar %}
                                    {% generateimage "header:thumbnail" source=collection.author.profile.avatar -- alt=collection.author.profile.auth_name %}
                                {% else %}
                                    <img src="{{ STATIC_URL }}img/no-avatar.png" height="30" width="30" alt="" />
                                {% endif %}
                                    <a href="{% url 'profile-view' collection.author.uid %}">{{ collection.author.first_name }}</a> {{ collection.created|timesince }} {% trans "ago" %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="col-12">
                            <div class="card-footer bg-transparent d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                                <p class="card-text col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                    <small class="text-muted">
                                        <i class="bi bi-feather"></i>{{ collection.comments_count }}
                                        <span class="vert-delimiter">|</span>
                                        <i class="bi bi-eye"></i>{{ collection.views_count }}

                                        <br/>

                                        {% trans "Last updated" %} {{ collection.modified|timesince }} {% trans "ago" %}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END  COLLECTION CARD -->

            <!-- START COLLECTION EVENTS -->
            <section id="collection-events">
                <h3>{% trans "Events" %}</h3>
                {% include "collections/fragments/collection-event-list.html" %}
            </section>
            <!--  END  COLLECTION EVENTS -->

            <!-- START COLLECTION COMMENTS -->
            <section id="collection-comments">
                {% include "app/fragments/instance-comments.html" with instance=collection %}
            </section>
            <!--  END  COLLECTION COMMENTS -->
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Media -->
        {% if request.user.is_authenticated %}
            <section>
                {% include "collections/fragments/collection-media-status-breakdown.html" %}
            </section>
        {% endif %}

            <!-- Link to Page -->
            <section>
                <h4>{% trans "Link to this Page" %}</h4>
                <div class="input-group mb-3">
                    <a id="button-addon1" class="btn btn-primary" type="button" href="#" alt="Copy Link"><i class="bi bi-copy"></i></a>
                    <a id="button-addon1" class="btn btn-success" type="button" href="#" alt="Share Link"><i class="bi bi-share"></i></a>
                    <input class="form-control link-to-page" type="text" readonly="readonly" onclick="$(this).select();" value="{{ request.build_absolute_uri }}" />
                </div>
            </section>

            <!-- Private Link to Page -->
            {% if collection.is_private and collection.author == request.user %}
            <section>
                <h4>{% trans "Private Link to this Page" %}</h4>
                <div class="input-group mb-3">
                    <a id="button-addon1" class="btn btn-primary" type="button" href="#" alt="Copy Link"><i class="bi bi-copy"></i></a>
                    <a id="button-addon1" class="btn btn-success" type="button" href="#" alt="Share Link"><i class="bi bi-share"></i></a>
                    <input class="form-control link-to-page" type="text" readonly="readonly" onclick="$(this).select();" value="{{ collection.get_private_url }}">
                    <a id="button-addon1" class="btn btn-danger"  type="button" href="#" alt="Refresh Link"><i class="bi bi-arrow-repeat"></i></a>
                </div>

                <!-- <a class="btn btn-danger w-100 my-2" href="#"><i class="bi bi-arrow-repeat"></i> {% trans "Refresh" %}</a> -->
            </section>
            {% endif %}

            <!-- Social Links -->
        {% if social_links %}
            <section>
                <h4>{% trans "Social Links" %}</h4>
                {% include "app/fragments/social-links.html" %}
            </section>
        {% endif %}

            <!-- Share Links -->
            <section>
                <h4>{% trans "Share" %}</h4>
                {% include "app/fragments/share-on-social.html" %}
            </section>
        </div>
    </div>
</div>
{% endcache %}

<!-- Modals -->

{% if request.user.is_authenticated %}
    {% include "app/modals/comment-add-modal.html" %}

    {% if collection.author != request.user %}
        {% include "app/modals/complaint-add-modal.html" %}
        {% include "collections/modals/collection-rate-modal.html" %}
    {% endif %}
{% endif %}

<!-- Scripts -->

<script type="text/javascript">
    /*************************************************************************/
    /*** Global Variables                                                  ***/
    /*************************************************************************/
    var participation_id;
    var element;

    /*************************************************************************/
    /*** Subscribe                                                         ***/
    /*************************************************************************/
    {% comment %}
    $(".subscribe").click(function (collection) {
        element = $(this);

        var collection_uid = "{{ collection.uid }}";
        var collection = window.collection || collection;
        collection.preventDefault();


        $.post("{% url 'api-collection-subscribe' 0 %}".replace("0", collection_uid), {
        }).done(function (data) {
            console.log("Success");
            console.log("Data :", data);

            $(element).hide("slow");

            new Noty({
                type:   "info",
                text:   data.message
            }).show();
        }).fail(function (data) {
            console.log("Fail");
            console.log("Data :", data);

            try {
                new Noty({
                    type:   "error",
                    text:   data.responseJSON.message
                }).show();
            } catch (err) {
                new Noty({
                    type:   "error",
                    text:   "Failed to subscribe to the collection."
                }).show();
            };
        });

        return true;
    });
    {% endcomment %}

    /*************************************************************************/
    /*** Add Complaint                                                     ***/
    /*************************************************************************/
    $(".add-complaint").click(function (collection) {
        element = $(this);

        var collection = window.collection || collection;
        collection.preventDefault();

        $("#complaintAddPopupModal").modal("show");
    })

    /*************************************************************************/
    /*** Housekeeping.                                                     ***/
    /*************************************************************************/
    $(document).ready(function () {
        $("#comment-add-modal-form").find("input[name='collection_uid']").val("{{ collection.uid }}");
        $("#complaint-add-modal-form").find("input[name='collection_uid']").val("{{ collection.uid }}");
    });
</script>
{% endblock %}
