{% extends "base.html" %}

{% load i18n %}
{% load imagekit %}
{% load taggit_templatetags2_tags %}

{% block title %}{% trans "Events List" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-24 col-md-24">
                <div class="breadcrumbs pull-right">
                    <a href="{{ request.path }}">{% trans "Events" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="event-list" class="container">
    <div class="row">
        <div class="col-xs-24 col-sm-16 col-md-18">

            <div class="controllers">
                <div id="event-filter">
                    <a class="btn btn-rounded" data-toggle="collapse" href="#collapse-event-filter" aria-expanded="false" aria-controls="collapse-event-filter"><i class="bi bi-filter"></i> {% trans "Filter" %}</a>

                    <div class="hidden-xs hidden-sm" style="display:inline;">
                        <div class="category-item">
                            <a href="#" title="All" category="">
                                <i class="bi bi-times" style="background-color:#999;"></i>
                            </a>
                        </div>
                    {% for event_category_1, event_category_name in event_category_choices %}
                        {% for event_category_2, event_category_color in event_category_colors %}
                            {% for event_category_3, event_category_icon in event_category_icons %}
                                {% if event_category_1 == event_category_2 and event_category_1 == event_category_3 %}
                                    <div class="category-item">
                                        <a href="#" title="{{ event_category_name }}" category="{{ event_category_1 }}">
                                            <i class="{{ event_category_icon }}" style="background-color:{{ event_category_color }};"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </div>

                {% if request.user.is_authenticated %}
                    <a class="btn pull-right {% if not request.user.profile.is_completed %}disabled{% endif %}" href="{% url 'event-create' %}"><i class="bi bi-plus"></i> {% trans "Event" %}</a>
                {% endif %}
                </div>

                <div class="hidden-md hidden-lg">
                    <hr>

                    <div class="category-item">
                        <a href="#" title="All" category="">
                            <i class="bi bi-times" style="background-color:#999;"></i>
                        </a>
                    </div>
                {% for event_category_1, event_category_name in event_category_choices %}
                    {% for event_category_2, event_category_color in event_category_colors %}
                        {% for event_category_3, event_category_icon in event_category_icons %}
                            {% if event_category_1 == event_category_2 and event_category_1 == event_category_3 %}
                                <div class="category-item">
                                    <a href="#" title="{{ event_category_name }}" category="{{ event_category_1 }}">
                                        <i class="{{ event_category_icon }}" style="background-color:{{ event_category_color }};"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </div>

                <div id="collapse-event-filter" class="collapse">
                    <hr>

                    <div class="row">
                        <div class="col-xs-24 col-sm-16 col-md-12 col-lg-12">
                            <form id="filter-event-form" role="form" action="" method="GET">
                                <div class="form-group {% if filter_form.name.errors %}has-error{% endif %}">
                                    <label class="control-label">{{ filter_form.name.label }}</label>

                                    {{ filter_form.name }}
                                </div>

                                <a class="btn pull-right" name="submit"><i class="bi bi-check-square"></i> {% trans "Apply" %}</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% regroup events|dictsort:"created" by created|date:"Y" as events_by_year %}
        {% for events_year in events_by_year %}
            {#<h2>{{ events_year.grouper }}</h2>#}
            {% regroup events_year.list by created|date:"F" as events_by_month %}
            {% for events_month in events_by_month %}
                {#<h3>{{ events_month.grouper }}</h3>#}
                {% regroup events_month.list by created|date:"d" as events_by_day %}
                {% for events_day in events_by_day %}
                    {#<h4>{{ events_day.grouper }}</h4>#}

                    <div class="event-list">
                        <time>
                            <span class="day"  >{{ events_day.grouper }}</span>
                            <span class="month">{{ events_month.grouper|slice:":3" }}</span>
                        </time>

                        <div class="info">
                            <span class="title">{{ events_month.grouper }} {{ events_day.grouper }}, {{ events_year.grouper }}</span>
                        </div>
                    </div>

                    <div class="row">
                    {% for event in events_day.list %}
                        <div class="col-xs-24 col-sm-12 col-md-8 col-lg-8">
                            {% include "events/fragments/event-thumbnail-vert.html" with event=event show_org=True %}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}

            <div id="page-selection"></div>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <div id="chl-tag-cloud">
                <h4>{% trans "Tag Cloud" %}</h4>
                {% get_taglist as taglist for "events.event" %}
                {% get_tagcloud as tagcloud for "events.event" %}

                <div class="tag-cloud">
                {% for tag in tagcloud %}
                    <a href="?tag={{ tag.id }}">
                        <font size="{{ tag.weight|floatformat:0 }}">
                            {{ tag.name }} ({{ tag.num_times }})
                        </font>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div id="chl-calendar">
                <h4>{% trans "Calendar" %}</h4>

                <span class="calendar"><div id="calendar"></div></span>
            </div>

            <!-- Sponsored Links -->
            <div id="sponsored-links">
                <h4>{% trans "Sponsored Links" %}</h4>
                {% include "app/fragments/sponsored-links-side.html" %}
            </div>
        </div>
    </div>
</div>

<!-- Script -->

<script>
    /*************************************************************************/
    /*** Submit Form                                                       ***/
    /*************************************************************************/
    $("a[name='submit']").click(function () {
        $("#spinner").fadeIn("slow");

        $("form#filter-event-form").submit();

        return true;
    })

    /*************************************************************************/
    /*** Event Category Toggle                                             ***/
    /*************************************************************************/
    $(".category-item").click(function (event) {
        var element = $(this);

        var event = window.event || event;

        event.preventDefault();

        var category_id = $(this).children().attr("category");

        console.log(">>> CATEGORY ID:", category_id);

        if (category_id === "") {
            $(".event-thumb-container").show("slow", function () {
                fixFooter();
            });
        } else {
            $(".event-thumb-container[category!='" + category_id + "']").hide("slow", function () {
                fixFooter();

                $(".event-thumb-container[category='" + category_id + "']").show("slow", function () {
                    fixFooter();
                });
            });
        }
    })
</script>
{% endblock %}
