{% extends "base.html" %}

{% load i18n %}
{% load imagekit %}
{% load taggit_templatetags2_tags %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<form>           - Event Form
        :<aform>          - Address Form
        :<formset_roles>  - Roles Formset
        :<formset_social> - Social Links Formset
{% endcomment %}

{% block title %}{% trans "Events List" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Events" %}</li>
        </ol>
    </nav>
</a>
{% endblock %}

{% block content %}
<div id="event-list" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <!-- START CONTROLLERS -->
            <div class="controllers">
                <a class="btn btn-secondary" data-toggle="collapse" href="#collapse-event-filter" aria-expanded="false" aria-controls="collapse-event-filter"><i class="bi bi-filter"></i> {% trans "Filter" %}</a>
                <div style="display:inline;">
                    <div class="category-item">
                        <a href="#" title="All" category="">
                            <i class="bi bi-joystick" style="background-color:#999;"></i>
                        </a>
                    </div>
                {% for event_category_1, event_category_name in event_category_choices %}
                    {% for event_category_2, event_category_color in event_category_colors %}
                        {% for event_category_3, event_category_icon in event_category_icons %}
                            {% if event_category_1 == event_category_2 and event_category_1 == event_category_3 %}
                                <div class="category-item">
                                    <a href="#" title="{{ event_category_name }}" category="{{ event_category_1 }}">
                                        <i class="{{ event_category_icon }}" style="background-color:{{ event_category_color }};"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </div>

            {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'event-create' %}"><i class="bi bi-plus-circle"></i> {% trans "Create" %}</a>
            {% endif %}
            </div>
            <!--  END  CONTROLLERS -->

            <!-- START FILTER FORM -->
            <div id="collapse-event-filter" class="collapse">
                <div class="row">
                    <div class="col-xs-24 col-sm-16 col-md-12 col-lg-12">
                        <form id="filter-event-form" role="form" action="" method="GET">
                            <div class="form-group {% if filter_form.name.errors %}has-error{% endif %}">
                                <label class="control-label">{{ filter_form.name.label }}</label>

                                {{ filter_form.name }}
                            </div>

                            <div class="form-group">
                                <label class="control-label">{% trans "Start Date" %}:</label>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right:5px">
                                        {{ filter_form.year }}
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:5px; padding-right:5px">
                                        {{ filter_form.month }}
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:5px;">
                                        {{ filter_form.day }}
                                    </div>
                                </div>
                            </div>

                            <a class="btn pull-right" name="submit"><i class="bi bi-check-square"></i> {% trans "Apply" %}</a>
                        </form>
                    </div>
                </div>
            </div>
            <!--  END  FILTER FORM -->

            <div class="row g-2">
            {% for event in events %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    {% include "events/fragments/event-thumbnail-vert.html" with event=event show_org=True %}
                </div>
            {% endfor %}

                <div id="page-selection"></div>
            </div>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <section id="tag-cloud">
                <h4>{% trans "Tag Cloud" %}</h4>
                {% get_taglist as taglist for "events.event" %}
                {% get_tagcloud as tagcloud for "events.event" %}

                <div class="tag-cloud">
                {% for tag in tagcloud %}
                    <a href="?tag={{ tag.id }}">
                        <font size="{{ tag.weight|floatformat:0 }}">
                            {{ tag.name }} ({{ tag.num_times }})
                        </font>
                    </a>
                {% endfor %}
                </div>
            </section>

            <!-- Sponsored Links -->
            <section id="sponsored-links">
                <h4>{% trans "Sponsored Links" %}</h4>
                {% include "app/fragments/sponsored-links-side.html" %}
            </section>
        </div>
    </div>
</div>

{% comment %}
        {% regroup events|dictsort:"start_date" by start_date|date:"Y" as events_by_year %}
        {% for events_year in events_by_year %}
            {#<h2>{{ events_year.grouper }}</h2>#}
            {% regroup events_year.list by start_date|date:"F" as events_by_month %}
            {% for events_month in events_by_month %}
                {#<h3>{{ events_month.grouper }}</h3>#}
                {% regroup events_month.list by start_date|date:"d" as events_by_day %}
                {% for events_day in events_by_day %}
                    {#<h4>{{ events_day.grouper }}</h4>#}

                    <div class="event-list">
                        <time>
                            <span class="day"  >{{ events_day.grouper }}</span>
                            <span class="month">{{ events_month.grouper|slice:":3" }}</span>
                        </time>

                        <div class="info">
                            <span class="title">{{ events_month.grouper }} {{ events_day.grouper }}, {{ events_year.grouper }}</span>
                        </div>
                    </div>

                    <div class="row">
                    {% for event in events_day.list %}
                        <div class="col-12">
                            {% include "events/fragments/event-thumbnail-vert.html" with event=event show_org=True %}
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
{% endcomment %}

<!-- Script -->

<script>
    /*************************************************************************/
    /*** Submit Form                                                       ***/
    /*************************************************************************/
    $("a[name='submit']").click(function () {
        $("#spinner").fadeIn("slow");
        $("form#filter-event-form").submit();

        return true;
    })

    /*************************************************************************/
    /*** Event Category Toggle                                             ***/
    /*************************************************************************/
    $(".category-item").click(function (event) {
        var element = $(this);

        var event = window.event || event;

        event.preventDefault();

        var category_id = $(this).children().attr("category");

        console.log(">>> CATEGORY ID:", category_id);

        if (category_id === "") {
            $(".event-thumb-container").show("slow", function () {
                fixFooter();
            });
        } else {
            $(".event-thumb-container[category!='" + category_id + "']").hide("slow", function () {
                fixFooter();

                $(".event-thumb-container[category='" + category_id + "']").show("slow", function () {
                    fixFooter();
                });
            });
        }
    })
</script>
{% endblock %}
