{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}
{% load imagekit %}
{% load formset_tags %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<form>           - Event Form
        :<aform>          - Address Form
        :<formset_roles>  - Roles Formset
        :<formset_social> - Social Links Formset
{% endcomment %}

{% block title %}{% trans "Create Event" %} - {{ block.super }}{% endblock %}

{% block extra_style %}
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'event-list' %}">{% trans "Events" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Create" %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id="event-create" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <form id="create-event-form" role="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- START EVENT APPEARENCE -->
                <section id="event-appearance">
                    <h3>{% trans "Appearance" %}</h3>

                    <div class="row g-2">
                        <div class="col-md-6">
                            <label for="id_preview" class="form-label">{% trans "Upload Preview Image" %}</label>
                            <input id="id_preview" name="preview" class="form-control" type="file" accept="{{ images_str_ext }}">
                            <span class="help-block">{% if form.preview.errors %}{% for error in form.preview.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="col-md-6">
                            <label for="id_cover" class="form-label">{% trans "Upload Cover Image" %}</label>
                            <input id="id_cover" name="cover" class="form-control" type="file" accept="{{ images_str_ext }}">
                            <span class="help-block">{% if form.cover.errors %}{% for error in form.cover.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    </div>
                </section>
                <!--  END  EVENT APPEARENCE -->

                <hr>

                <!-- START EVENT DESCRIPTION -->
                <section id="event-description">
                    <h3>{% trans "Description" %}</h3>

                    <div class="row g-2">
                        <div class="form-floating col-12 {% if form.title.errors %}has-error{% endif %}">
                            {{ form.title }}
                            <label for="id_title" class="form-label">{{ form.title.label }}{% if form.title.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.title.errors %}{% for error in form.title.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-12 {% if form.description.errors %}has-error{% endif %}">
                            {{ form.description }}
                            <label for="id_description" class="form-label">{{ form.description.label }}{% if form.description.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.description.errors %}{% for error in form.description.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <div class="form-floating col-md-4 {% if form.category.errors %}has-error{% endif %}">
                            {{ form.category }}
                            <label for="id_category" class="form-label">{{ form.category.label }}{% if form.category.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.category.errors %}{% for error in form.category.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4 {% if form.visibility.errors %}has-error{% endif %}">
                            {{ form.visibility }}
                            <label for="id_visibility" class="form-label">{{ form.visibility.label }}{% if form.visibility.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.visibility.errors %}{% for error in form.visibility.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-4 {% if form.organization.errors %}has-error{% endif %}">
                            {{ form.organization }}
                            <label for="id_organization" class="form-label">{{ form.organization.label }}{% if form.organization.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.organization.errors %}{% for error in form.organization.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                        <div class="form-floating col-md-6 {% if form.tags.errors %}has-error{% endif %}">
                            {{ form.tags }}
                            <label for="id_tags" class="form-label">{{ form.tags.label }}{% if form.tags.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.tags.errors %}{% for error in form.tags.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                        <div class="form-floating col-md-6{% if form.hashtag.errors %}has-error{% endif %}">
                            {{ form.hashtag }}
                            <label for="id_hash_tag" class="form-label">{{ form.hashtag.label }}{% if form.hashtag.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.hashtag.errors %}{% for error in form.hashtag.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                    {% comment %}
                        <div class="form-group {% if form.duration.errors %}has-error{% endif %}">
                            <label class="form-label">{{ form.duration.label }}{% if form.duration.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <div>
                                {{ form.duration }}
                                <span id="currentSliderValue"></span> hours
                            </div>

                            <span class="help-block">{% if form.duration.errors %}{% for error in form.duration.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>

                    {% if not form.organization.is_hidden %}
                        <div class="form-group {% if form.organization.errors %}has-error{% endif %}">
                            <label class="form-label">{{ form.organization.label }}{% if form.organization.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <div class="input-group">
                                {{ form.organization }}
                                <div class="input-group-addon"><i class="bi bi-university"></i></div>
                            </div>

                            <span class="help-block">{% if form.organization.errors %}{% for error in form.organization.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    {% endif %}
                    {% endcomment %}
                    </div>
                </section>
                <!--  END  EVENT DESCRIPTION -->

                <hr>

                <!-- START EVENT LOCATION -->
                <section id="event-location">
                    <h3>{% trans "Location" %}</h3>
                    {% include "app/fragments/address.html" %}
                </section>
                <!--  END  EVENT LOCATION -->

                <hr>

                <!-- START EVENT ROLES -->
                {% comment %}
                <section id="event-roles">
                    <h3>{% trans "Roles" %}</h3>
                    {% include "events/fragments/event-formset-roles.html" %}
                </section>
                {% endcomment %}
                <!--  END  EVENT ROLES -->

                <!-- START EVENT TIME AND PLACE -->
                <section id="event-time-and-place">
                    <h3>{% trans "Date" %}</h3>

                    <div class="row g-2">
                    {% comment %}
                        <div class="form-floating col-md-4 {% if form.start_tz.errors %}has-error{% endif %}">
                            {{ form.start_tz }}
                            <label for="id_start_tz" class="form-label">{{ form.start_tz.label }}{% if form.start_tz.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.start_tz.errors %}{% for error in form.start_tz.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    {% endcomment %}
                        <div class="form-floating col-md-4 {% if form.start_date.errors %}has-error{% endif %}">
                            {{ form.start_date }}
                            <label for="id_start_date" class="form-label">{{ form.start_date.label }}{% if form.start_date.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.start_date.errors %}{% for error in form.start_date.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    {% comment %}
                        <div class="form-floating col-md-4 {% if form.start_time.errors %}has-error{% endif %}">
                            {{ form.start_time }}
                            <label for="id_start_time" class="form-label">{{ form.start_time.label }}{% if form.start_time.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
                            <span class="help-block">{% if form.start_time.errors %}{% for error in form.start_time.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                        </div>
                    {% endcomment %}
                    </div>
                </section>
                <!--  END  EVENT TIME AND PLACE -->

                <!-- START EVENT APPLICATION -->
                {% comment %}
                <section id="event-application">
                    <h3>{% trans "Application" %}</h3>

                    <div class="form-group">
                    {% for choice in form.application %}
                        <div class="radio radio-primary">
                            {{ choice.tag }}
                            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                    </div>

                    <hr>

                    <div class="checkbox checkbox-primary">
                        {{ form.allow_reenter }}
                        {{ form.allow_reenter.label_tag }}
                    </div>

                    <hr>

                    <div class="checkbox checkbox-primary">
                        {{ form.accept_automatically }}
                        {{ form.accept_automatically.label_tag }}
                    </div>
                    <div id="id_acceptance_text_div" class="form-group {% if form.acceptance_text.errors %}has-error{% endif %}">
                        {{ form.acceptance_text }}

                        <span class="help-block">{% if form.acceptance_text.errors %}{% for error in form.acceptance_text.errors %}&nbsp;{{ error }}{% endfor %}{% endif %}</span>
                    </div>
                </section>
                {% endcomment %}
                <!--  END  EVENT APPLICATION -->

                <!-- START EVENT CONTACT PERSON -->
                {% comment %}
                <section id="event-contact-person">
                    <h3>{% trans "Contact Person" %}</h3>
                    {% include "app/fragments/contact-person.html" %}
                </section>
                {% endcomment %}
                <!--  END  EVENT CONTACT PERSON -->

                <!-- START EVENT SOCIAL LINKS -->
                {% comment %}
                <section id="event-social-links">
                    <h3>{% trans "Social Links" %}</h3>
                    {% include "app/fragments/formset-social.html" %}
                </section>
                {% endcomment %}
                <!--  END  EVENT SOCIAL LINKS -->

                <hr>

                <!-- START EVENT COMPLETE -->
                <section id="event-complete">
                    <h3>{% trans "Complete" %}</h3>
                    <div class="form-check text-start my-1">
                        {{ form.allow_comments }}
                        {{ form.allow_comments.label }}
                    </div>
                    <p>{% trans "You have successfully completed all Steps." %}</p>

                    <div class="row">
                        <div class="col-12 feature">
                            <a href="#" name="event-create" class="event-create">
                                <span><i class="flaticon-rounded25"></i></span>
                                <p>{% trans "Create this Event" %}</p>
                            </a>
                        </div>
                    </div>
                </section>
                <!--  END  EVENT COMPLETE -->
            </form>
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <section>
                <h4>{% trans "Tips" %}</h4>

                <div class="alert alert-info">
                {% blocktrans %}
                    You can create your Event here. If you have any Questions, don't hesitate to <a href="mailto:support@2remember.live">contact Support</a>.
                {% endblocktrans %}
                </div>

                <div class="alert alert-success">
                    {% trans "After creating the Event, you will be redirected to the Details Page, where you can attach additional Materials (e.g. Images, Documents, Links, etc.)" %}
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    /*************************************************************************/
    /*** Form Submitting                                                   ***/
    /*************************************************************************/
    $("a[name='event-create']").click(function () {
        // --------------------------------------------------------------------
        // --- Check, if Preview and Cover Input are NOT empty.
        // if ($("#id_preview").get(0).files.length === 0 || $("#id_cover").get(0).files.length === 0) {
        //     alert("Please, select the Preview and Cover Images.");

        //     return false;
        // }

        /*** DATE FORMAT *****************************************************/
        var $input = $("input[name='start_date']");
        var val = $input.val();

        if (val) {
            var valMoment = moment(val);
            var isMoment = moment.isMoment(valMoment);

            if (isMoment) {
                $input.attr("type", "text");
                $input.val(valMoment.format("MM/DD/YYYY"));
            }
        }
        /*********************************************************************/

        var form = $("form#create-event-form");

        $("#spinner").fadeIn("slow");

        form.append("<input type='hidden' name='event-create' value='Create this Event' />");
        form.submit();

        return true;
    })

    $("a[name='event-draft']").click(function () {
        // --------------------------------------------------------------------
        // --- Check, if Preview and Cover Input are NOT empty.
        if ($("#id_preview").get(0).files.length === 0 || $("#id_cover").get(0).files.length === 0) {
            alert("Please, select the Preview and Cover Images.");

            return false;
        }

        /*** DATE FORMAT *****************************************************/
        var $input = $("input[name='start_date']");
        var val = $input.val();

        if (val) {
            var valMoment = moment(val);
            var isMoment = moment.isMoment(valMoment);

            if (isMoment) {
                $input.attr("type", "text");
                $input.val(valMoment.format("MM/DD/YYYY"));
            }
        }
        /*********************************************************************/

        var form = $("form#post-event-form");

        $("#spinner").fadeIn("slow");

        form.append("<input type='hidden' name='chl-draft' value='Save as a Draft' />");
        form.submit();

        return true;
    })

    $(document).ready(function () {
        /*********************************************************************/
        /*** Iterate Form Fields Errors                                    ***/
        /*********************************************************************/
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for field in aform %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for field in nform %}
            {% if field.errors %}
                {% for error in field.errors %}
                    new Noty({
                        text: "{{ field.label }}: {{ error }}"
                    }).show();
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for form in formset_roles.forms %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        new Noty({
                            text: "Role : {{ field.label }}: {{ error }}"
                        }).show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% for form in formset_social.forms %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        new Noty({
                            text: "Social Link : {{ field.label }}: {{ error }}"
                        }).show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        /*********************************************************************/
        /*** Slider                                                        ***/
        /*********************************************************************/
        // var mySlider = $("input.slider");

        // mySlider.on("slide", function (event) {
        //     $("#currentSliderValue").text(event.value);
        // });

        // $("#currentSliderValue").text(
        //     mySlider.bootstrapSlider("getValue")
        // );

        /*********************************************************************/
        /*** Contact Person UX                                             ***/
        /*********************************************************************/
        $("#alt_person_creds").hide();

        var selected = $("input[type='radio']:checked");

        if (selected.val() == "he") {
            $("#alt_person_creds").show("slow");
        }

        $("#id_contact_0").click(function () {
            $("#alt_person_creds").hide("slow");
        });

        $("#id_contact_1").click(function () {
            $("#alt_person_creds").show("slow");
        })

        /*********************************************************************/
        /*** Automatically accept Experience Reports UX                    ***/
        /*********************************************************************/
        $("#id_acceptance_text_div").hide();

        if ($("#id_accept_automatically").prop("checked")) {
            $("#id_acceptance_text_div").show("slow");
        }

        $("#id_accept_automatically").click(function () {
            $("#id_acceptance_text_div").toggle("slow");
        });
    });
</script>
{% endblock %}
