{% extends "events/event-details-base.html" %}

{% load i18n %}
{% load imagekit %}

{% comment %}
    Input Parameters:
        :<request> - Request

        :<event>
{% endcomment %}

{% block content %}
<div id="event-info" class="bg-body-tertiary p-3">
    <div class="row g-2">
        <div class="col-md-9">
            <!-- START EVENT CARD -->
            <section id="event-card">
                <div class="card mb-3 shadow">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="thumbnail avatar">
                            {% if event.preview %}
                                {% generateimage "common:medium_fill" source=event.preview -- alt=event.preview.title class='img-fluid rounded-start' %}
                            {% else %}
                            {% endif %}
                            </div>

                            {% if event.get_rating_avg > 0 %}
                                {% include "common/fragments/rating-card-hor.html" with instance=event %}
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h4 class="card-title">{{ event.title }} {#({{ event.duration }}h)#}</h4>
                                <p class="card-text"><small class="text-muted">{{ event.description|striptags|escape|default:"N/A"  }}</small></p><hr>
                                <p class="card-text">
                                    <i class="bi bi-pin-map"></i>
                                {% if event.addressless %}
                                    <span class="badge text-bg-warning">{% trans "Location is not provided" %}</span>
                                {% else %}
                                    {{ event.address.full_address|default:"N/A" }}
                                    <a data-original-title="" data-content="" data-placement="bottom" data-container="body" data-trigger="hover" data-toggle="modal" href="#eventViewOnMapPopupModal" tabindex="-1">&nbsp;({% trans "View on Map" %})</a>

                                    {% if event.address.notes %}
                                        <p class="card-text"><small class="text-muted">{{ event.addressnotes|striptags|escape }}</small></p>
                                    {% endif %}
                                {% endif %}

                                    <br/>

                                    <i class="bi bi-calendar-date"></i>&nbsp;{% if event.is_dateless %}<span class="badge text-bg-warning">{% trans "Dateless" %}</span>{% else %}{{ event.start_date|date:"M j, Y" }}{% endif %}<br/>
                                    <i class="bi bi-plus-square"></i>&nbsp;{{ event.stat_category_name }}<br/>

                                {% if event.tags.all and event.hashtag %}
                                    <i class="bi bi-tags"></i>&nbsp;{% for tag in event.tags.all %}<a href="?tag={{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                    <span class="vert-delimiter">|</span>
                                    <i class="bi bi-hash"></i>{{ event.hashtag }}
                                {% elif event.tags.all %}
                                    <i class="bi bi-tags"></i>&nbsp;{% for tag in event.tags.all %}<a href="?tag={{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                                {% elif event.hashtag %}
                                    <i class="bi bi-hash"></i>{{ event.hashtag }}>
                                {% endif %}
                                </p>

                            {% if event.organization and not event.organization.is_deleted %}
                                <p class="card-text">
                                    <i class="bi bi-building"></i><strong>{% trans "Organized by" %}</strong>
                                    <a href="{% url 'organization-details' event.organization.slug %}">{{ event.organization.title }}</a>
                                </p>
                            {% endif %}

                                <p class="card-text">
                                {% if event.author.profile.avatar %}
                                    {% generateimage "header:thumbnail" source=event.author.profile.avatar -- alt=event.author.profile.auth_name %}
                                {% else %}
                                    <img src="{{ STATIC_URL }}img/no-avatar.png" height="30" width="30" alt="" />
                                {% endif %}
                                    {% trans "Posted by" %}
                                    <a href="{% url 'profile-view' event.author_id %}">{{ event.author.first_name }}</a>
                                    {{ event.created|timesince }} {% trans "ago" %}
                                </p>
                            </div>
                            <div class="card-footer bg-transparent border-success">
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="bi bi-feather"></i> {{ event.get_comments_count }}
                                        <span class="vert-delimiter">|</span>
                                        <i class="bi bi-eye"></i> {{ event.get_views_count }}

                                        <br/>

                                        {% trans "Last updated" %} {{ event.modified|timesince }} {% trans "ago" %}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END  EVENT CARD -->

            <!-- START EVENT ROLES -->
            {% comment %}
            <section id="event-roles">
                <h3>{% trans "Roles" %}</h3>
            </section>
            {% endcomment %}
            <!--  END  EVENT ROLES -->

            <!-- START EVENT ATTACHMENTS -->
            <section id="event-attachments">
                <h3>
                    {% trans "Attachments" %}
                    <a data-bs-toggle="collapse" data-bs-target="#collapse-attachments" aria-expanded="false" aria-controls="collapse-attachments"><i class="bi bi-chevron-bar-contract"></i></a>
                {% if request.user.is_authenticated %}
                    {% if is_admin %}
                        <a class="add-attachment btn btn-primary" href="{% url 'event-edit' event.slug %}#event-attachments"><i class="bi bi-plus"></i></a>
                    {% endif %}
                {% endif %}
                </h3>
                {% include "app/fragments/instance-attachments.html" with instance=event %}
            </section>
            <!--  END  EVENT ATTACHMENTS -->

            <!-- START EVENT COMMENTS -->
            <section id="event-comments">
            {% comment %}
                <h3>
                    {% trans "Comments" %}
                    <a data-bs-toggle="collapse" data-bs-target="#collapse-comments" aria-expanded="false" aria-controls="collapse-comments"><i class="bi bi-chevron-bar-contract"></i></a>
                {% if request.user.is_authenticated %}
                    <a class="add-comment btn btn-primary" href="#"><i class="bi bi-plus"></i></a>
                {% endif %}
                </h3>
                {% include "app/fragments/instance-comments.html" with instance=event %}
            {% endcomment %}
            </section>
            <!--  END  EVENT COMMENTS -->
        </div>

        <div id="tips" class="col-md-3 right-sidebar">
            <!-- Media -->
            {% include "events/fragments/event-media-status-breakdown.html" %}

            <!-- Link to Page -->
            <h4>{% trans "Link to this Page" %}</h4>
            <input type="text" readonly="readonly" onclick="$(this).select();" value="{{ request.build_absolute_uri }}" />

            <!-- Social Links -->
        {% if social_links %}
            <h4>{% trans "Social Links" %}</h4>
            {% include "app/fragments/social-links.html" %}
        {% endif %}

            <!-- Share Links -->
            <h4>{% trans "Share" %}</h4>
            {% include "app/fragments/share-on-social.html" %}

            <!-- Contact Person -->
        {% comment %}
            <h4>{% trans "Contact Person" %}</h4>
            {% include "app/fragments/instance-contact-person.html" with instance=organization%}
        {% endcomment %}
        </div>
    </div>
</div>

<!-- Modals -->

{% include "app/modals/instance-view-on-map-modal.html" with instance=event %}

{% if request.user.is_authenticated %}
    {% if event.author == request.user %}
        {% include "events/modals/event-create-modal.html" %}
        {% include "events/modals/event-complete-modal.html" %}
        {% include "events/modals/event-participation-remove-modal.html" %}
    {% else %}
        {% include "events/modals/event-participation-post-modal.html" %}
        {% include "events/modals/event-participation-withdraw-modal.html" %}
        {% include "events/modals/event-selfreflection-submit-modal.html" %}
        {% include "events/modals/event-not-participated-modal.html" %}
        {% include "events/modals/event-rate-modal.html" %}
    {% endif %}

    {# include "common/modals/comment-add-modal.html" #}
    {# include "common/modals/complaint-add-modal.html" #}
{% endif %}

<!-- Scripts -->

<script type="text/javascript">
    /*************************************************************************/
    /*** Global Variables                                                  ***/
    /*************************************************************************/
    var participation_id;
    var element;
</script>
{% endblock %}
