{% extends "events/event-details-base.html" %}

{% block extra_content %}
<div class="container">
    <div id="event-info">
        <div id="info">
            {% include "events/tabs/info-tab.html" %}
        </div>

    {% if not event.is_draft %}
        <div id="participants">
            {% include "events/tabs/participants-tab.html" %}
        </div>
    {% endif %}
    </div>
</div>

<!-- Modals -->

{% include "events/modals/event-view-on-map-modal.html" %}

{% if request.user.is_authenticated %}
    {% if event.author == request.user %}
        {% include "events/modals/event-create-modal.html" %}
        {% include "events/modals/event-complete-modal.html" %}
        {% include "events/modals/event-participation-remove-modal.html" %}
    {% else %}
        {% include "events/modals/event-participation-post-modal.html" %}
        {% include "events/modals/event-participation-withdraw-modal.html" %}
        {% include "events/modals/event-selfreflection-submit-modal.html" %}
        {% include "events/modals/event-not-participated-modal.html" %}
        {% include "events/modals/event-rate-modal.html" %}
    {% endif %}

    {% include "common/modals/comment-add-modal.html" %}
    {% include "common/modals/complaint-add-modal.html" %}
{% endif %}

<!-- Scripts -->

<script type="text/javascript">
    /*************************************************************************/
    /*** Global Variables                                                  ***/
    /*************************************************************************/
    var participation_id;
    var element;
</script>
{% endblock %}
